In [10]:
pip install nfl-data-py

Requirement already satisfied: nfl-data-py in /opt/anaconda3/lib/python3.12/site-packages (0.3.3)
Requirement already satisfied: numpy<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.26.4)
Collecting pandas<2.0,>=1.0 (from nfl-data-py)
  Using cached pandas-1.5.3-cp312-cp312-macosx_11_0_arm64.whl
Requirement already satisfied: appdirs>1 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.4.4)
Requirement already satisfied: fastparquet>0.5 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (2024.11.0)
Requirement already satisfied: cramjam>=2.3 in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2.9.1)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2024.3.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas<2.0,>=1.0->nfl-data-py) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.3
    Uninstalling pandas-2.2.3:
      Successfully uninstalled pandas-2.2.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
dask-expr 1.1.0 requires pandas>=2, but you have pandas 1.5.3 which is incompatible.
Successfully installed pandas-1.5.3
Note: you may need to restart the kernel to use updated packages.

In [12]:
import nfl_data_py as nfl

In [18]:
seasons = [2000]  # You can also pass multiple seasons, e.g., [2000, 2001, 2002]

# Fetch play-by-play data
df = nfl.import_pbp_data(seasons)

2000 done.
Downcasting floats.

In [20]:
df

/opt/anaconda3/lib/python3.12/site-packages/IPython/core/formatters.py:347: FutureWarning: Index.format is deprecated and will be removed in a future version. Convert using index.astype(str) or index.map(formatter) instead.
  return method()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,34.0,2000_01_ARI_NYG,2000090300,NYG,ARI,REG,1,ARI,away,NYG,...,0.0,0.0,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70.0,2000_01_ARI_NYG,2000090300,NYG,ARI,REG,1,ARI,away,NYG,...,0.0,0.0,0.812263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,106.0,2000_01_ARI_NYG,2000090300,NYG,ARI,REG,1,ARI,away,NYG,...,0.0,0.0,-0.076852,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,131.0,2000_01_ARI_NYG,2000090300,NYG,ARI,REG,1,ARI,away,NYG,...,0.0,0.0,-0.765240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,148.0,2000_01_ARI_NYG,2000090300,NYG,ARI,REG,1,ARI,away,NYG,...,0.0,0.0,-1.311643,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45486,3691.0,2000_21_BAL_NYG,2001012800,NYG,BAL,POST,21,NYG,home,BAL,...,0.0,1.0,-0.203004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45487,3712.0,2000_21_BAL_NYG,2001012800,NYG,BAL,POST,21,NYG,home,BAL,...,0.0,1.0,-0.185251,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45488,3729.0,2000_21_BAL_NYG,2001012800,NYG,BAL,POST,21,NYG,home,BAL,...,1.0,1.0,-0.095956,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45489,3750.0,2000_21_BAL_NYG,2001012800,NYG,BAL,POST,21,NYG,home,BAL,...,0.0,1.0,-0.100982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45490,3771.0,2000_21_BAL_NYG,2001012800,NYG,BAL,POST,21,None,None,None,...,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
target_years = [2019]
pbp_cache_path = 'data/pbp'
nfl.cache_pbp(target_years, alt_path=pbp_cache_path)
pbp = nfl.import_pbp_data(target_years, cache=True, alt_path=pbp_cache_path)
print(pbp[(pbp.play_type == 'kickoff') & (pbp.kick_distance.isna())][['desc', 'game_id']])
print(pbp[pbp.game_id == '2019_15_CLE_ARI'][['desc', 'time', 'play_type']].head(20))

2019 done.
2019 done.
Downcasting floats.
                                                    desc          game_id
37414  (10:15) (No Huddle, Shotgun) 41-K.Drake left e...  2019_15_CLE_ARI
                                                    desc   time    play_type
37403                                               GAME  15:00         None
37404  5-Z.Gonzalez kicks 65 yards from ARI 35 to end...  15:00      kickoff
37405  (15:00) 24-N.Chubb to CLE 44 for 19 yards (23-...  15:00          run
37406  (14:30) 6-B.Mayfield pass deep right to 13-O.B...  14:30         pass
37407  (14:23) (No Huddle, Shotgun) 1-K.Murray pass s...  14:23         pass
37408  4-A.Seibert extra point is GOOD, Center-47-C.H...  14:12  extra_point
37409  4-A.Seibert kicks 65 yards from CLE 35 to end ...  14:12      kickoff
37410  (14:12) 1-K.Murray pass short left to 11-L.Fit...  14:12         pass
37411         (14:12) 41-K.Drake for 2 yards, TOUCHDOWN.  14:12          run
37412  5-Z.Gonzalez extra point is GOOD, Center-46-A....  12:00  extra_point
37413                                      END QUARTER 1  00:00         None
37414  (10:15) (No Huddle, Shotgun) 41-K.Drake left e...  10:15      kickoff
37415  5-Z.Gonzalez kicks 63 yards from ARI 35 to CLE...  10:09      kickoff
37416  (10:04) (Shotgun) 6-B.Mayfield pass short left...  10:04         pass
37417  (9:18) 24-N.Chubb up the middle to CLE 32 for ...  09:18          run
37418  (8:34) (Shotgun) 6-B.Mayfield pass short right...  08:34         pass
37419  (7:54) 24-N.Chubb right tackle to CLE 41 for 1...  07:54          run
37420                        Timeout #1 by CLE at 07:13.  07:13      no_play
37421  (7:13) 24-N.Chubb up the middle to CLE 46 for ...  07:13          run
37422  (6:36) 6-B.Mayfield pass incomplete deep middl...  06:36      no_play

In [80]:
hi=nfl.import_weekly_data([2000, 2005])
print(hi[hi["player_display_name"] == "Madison Hedgecock"])

Downcasting floats.
       player_id player_name player_display_name position position_group
4631  00-0023683        None   Madison Hedgecock       FB             RB  \
4632  00-0023683        None   Madison Hedgecock       FB             RB
4633  00-0023683        None   Madison Hedgecock       FB             RB
4634  00-0023683        None   Madison Hedgecock       FB             RB
4635  00-0023683        None   Madison Hedgecock       FB             RB
4636  00-0023683        None   Madison Hedgecock       FB             RB
4637  00-0023683        None   Madison Hedgecock       FB             RB

     headshot_url recent_team  season  week season_type  ...
4631         None          LA    2005     4         REG  ...  \
4632         None          LA    2005    11         REG  ...
4633         None          LA    2005    12         REG  ...
4634         None          LA    2005    13         REG  ...
4635         None          LA    2005    14         REG  ...
4636         None          LA    2005    16         REG  ...
4637         None          LA    2005    17         REG  ...

     receiving_first_downs  receiving_epa  receiving_2pt_conversions  racr
4631                   0.0            NaN                          0   NaN  \
4632                   0.0      -0.029475                          0   0.0
4633                   1.0       1.339357                          0   0.0
4634                   0.0       0.110912                          0   0.0
4635                   0.0      -0.160298                          0   0.0
4636                   2.0       1.977343                          0   0.0
4637                   0.0       0.445377                          0   0.0

      target_share  air_yards_share  wopr  special_teams_tds  fantasy_points
4631           NaN              NaN   NaN                0.0             0.0  \
4632      0.030303              NaN   NaN                0.0             0.9
4633      0.047619              NaN   NaN                0.0             1.5
4634      0.047619              NaN   NaN                0.0             0.5
4635      0.076923              NaN   NaN                0.0             0.5
4636      0.060606              NaN   NaN                0.0             2.5
4637      0.105263              NaN   NaN                0.0             1.0

      fantasy_points_ppr
4631                 0.0
4632                 1.9
4633                 2.5
4634                 1.5
4635                 2.5
4636                 4.5
4637                 3.0

[7 rows x 53 columns]