In [10]:
pip install nfl-data-py

Requirement already satisfied: nfl-data-py in /opt/anaconda3/lib/python3.12/site-packages (0.3.3)
Requirement already satisfied: numpy<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.26.4)
Collecting pandas<2.0,>=1.0 (from nfl-data-py)
  Using cached pandas-1.5.3-cp312-cp312-macosx_11_0_arm64.whl
Requirement already satisfied: appdirs>1 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.4.4)
Requirement already satisfied: fastparquet>0.5 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (2024.11.0)
Requirement already satisfied: cramjam>=2.3 in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2.9.1)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2024.3.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas<2.0,>=1.0->nfl-data-py) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.3
    Uninstalling pandas-2.2.3:
      Successfully uninstalled pandas-2.2.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
dask-expr 1.1.0 requires pandas>=2, but you have pandas 1.5.3 which is incompatible.
Successfully installed pandas-1.5.3
Note: you may need to restart the kernel to use updated packages.

In [7]:
import nfl_data_py as nfl

In [13]:
team_labels= rost["team"].unique()
team_labels

array(['SEA', 'NYJ', 'ARI', 'CHI', 'TEN', 'CAR', 'ATL', 'IND', 'MIA',
       'BAL', 'LA', 'NYG', 'HOU', 'SF', 'PHI', 'BUF', 'DAL', 'NO', 'PIT',
       'CIN', 'WAS', 'LAC', 'CLE', 'MIN', 'TB', 'DET', 'GB', 'LV', 'KC',
       'JAX', 'DEN', 'NE'], dtype=object)

Team Roster Stuff

In [129]:
import pandas as pd
def team_WR_list(tm = "KC"):
    rost= nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])
    tm = rost[rost["team"] == tm]
    tm_WR = tm[tm["position"] == "WR"]
    return tm_WR[["player_name", "position", "team", "birth_date"]]

team_WR_list(tm = "KC")

             player_name position team birth_date
691        Sammy Watkins       WR   KC 1993-06-14
1191   Demarcus Robinson       WR   KC 1994-09-21
1301         Tyreek Hill       WR   KC 1994-03-01
1504       Gehrig Dieter       WR   KC 1993-02-24
1506         Marcus Kemp       WR   KC 1995-08-14
...                  ...      ...  ...        ...
17822        Rashee Rice       WR   KC 2000-04-22
17957     Phillip Brooks       WR   KC 1999-09-19
17977       Jaaron Hayek       WR   KC 2001-06-06
18257        Kyle Sheets       WR   KC 2000-09-24
18523      Xavier Worthy       WR   KC 2003-04-27

[90 rows x 4 columns]

>rost= nfl.import_seasonal_rosters([2024])
KC = rost[rost["team"] == "KC"]
KC_WR = KC[KC["position"] == "WR"]
KC_WR[["player_name", "position", "team", "birth_date"]]

In [135]:
def all_WR_list():
    rost= nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])
    rost_WR = rost[rost["position"] == "WR"]
    return rost_WR[["player_name", "position", "team", "birth_date"]]
all_WR_list()

            player_name position team birth_date
13     Larry Fitzgerald       WR  ARI 1983-08-31
45             Ted Ginn       WR   NO 1985-04-12
64       Danny Amendola       WR  DET 1985-11-02
70       DeSean Jackson       WR  PHI 1986-12-01
75       Matthew Slater       WR   NE 1985-09-09
...                 ...      ...  ...        ...
18544     Ladd McConkey       WR  LAC 2001-11-11
18545    Ricky Pearsall       WR   SF 2000-09-09
18548       Rome Odunze       WR  CHI 2002-04-03
18549    Malachi Corley       WR  NYJ 2002-03-21
18555      Devin Carter       WR  CAR        NaT

[2414 rows x 4 columns]

Weekly Data

>weekly_data = nfl.import_weekly_data([2024])
weekly_WR_data = weekly_data[weekly_data["position"] == "WR"]
KC_player_weekly = weekly_WR_data[weekly_WR_data["recent_team"] == "KC"]
XW = KC_player_weekly[KC_player_weekly["player_display_name"] == "Xavier Worthy"]
XW[["player_id", "player_display_name", "receiving_first_downs", "receiving_epa", "target_share", "air_yards_share"]]

In [95]:
season=nfl.import_seasonal_data([2024])
Xavier= season[season["player_id"] == "00-0039894"]
Xavier[["player_id", "tgt_sh", "ry_sh", "rtd_sh"]]

      player_id    tgt_sh     ry_sh    rtd_sh
595  00-0039894  0.168096  0.161601  0.230769

WR Lists with Calculated Variables

In [252]:
season_2019= nfl.import_seasonal_pfr("rec",[2019]) #get 2019 data
WRs_2019 = season_2019[season_2019["pos"] == "WR"] #sort by wide recievers
WRs_2019 = WRs_2019[WRs_2019["tm"] != "2TM"]  
WRs_2019 = WRs_2019[WRs_2019["tm"] != "3TM"] # exlude all players who got traded
WRs_2019 = WRs_2019[WRs_2019["tm"] != "4TM"] 
WRs_2019["rec_share"] = WRs_2019.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2019["tgt_share"] = WRs_2019.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2019["td_share"] = WRs_2019.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2019["yds_share"] = WRs_2019.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)
#WRs_2019[["player","tm", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by="tm")

#KC_WRs_2019 = WRs_2019[WRs_2019["tm"] == "KC"]
#KC_WRs_2019[["player","tm", "rec_share", "tgt_share", "td_share", "yds_share"]] # check math

In [250]:
season_2020= nfl.import_seasonal_pfr("rec",[2020]) #get 2020 data
WRs_2020 = season_2020[season_2020["pos"] == "WR"] #sort by wide recievers
WRs_2020 = WRs_2020[WRs_2020["tm"] != "2TM"]  
WRs_2020 = WRs_2020[WRs_2020["tm"] != "3TM"] # exlude all players who got traded
WRs_2020 = WRs_2020[WRs_2020["tm"] != "4TM"] 
WRs_2020["rec_share"] = WRs_2020.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2020["tgt_share"] = WRs_2020.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2020["td_share"] = WRs_2020.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2020["yds_share"] = WRs_2020.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)
#WRs_2020[["player","tm", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by="tm")

In [248]:
season_2021= nfl.import_seasonal_pfr("rec",[2021]) #get 2021 data
WRs_2021 = season_2021[season_2021["pos"] == "WR"] #sort by wide recievers
WRs_2021 = WRs_2021[WRs_2021["tm"] != "2TM"]  
WRs_2021 = WRs_2021[WRs_2021["tm"] != "3TM"] # exlude all players who got traded
WRs_2021 = WRs_2021[WRs_2021["tm"] != "4TM"] 
WRs_2021["rec_share"] = WRs_2021.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2021["tgt_share"] = WRs_2021.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2021["td_share"] = WRs_2021.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2021["yds_share"] = WRs_2021.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)
#WRs_2021[["player","tm", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by="tm")

In [246]:
season_2022= nfl.import_seasonal_pfr("rec",[2022]) #get 2022 data
WRs_2022 = season_2022[season_2022["pos"] == "WR"] #sort by wide recievers
WRs_2022 = WRs_2022[WRs_2022["tm"] != "2TM"]  
WRs_2022 = WRs_2022[WRs_2022["tm"] != "3TM"] # exlude all players who got traded
WRs_2022 = WRs_2022[WRs_2022["tm"] != "4TM"] 
WRs_2022["rec_share"] = WRs_2022.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2022["tgt_share"] = WRs_2022.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2022["td_share"] = WRs_2022.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2022["yds_share"] = WRs_2022.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)
#WRs_2022[["player","tm", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by="tm")

In [244]:
season_2023= nfl.import_seasonal_pfr("rec",[2023]) #get 2023 data
WRs_2023 = season_2023[season_2023["pos"] == "WR"] #sort by wide recievers
WRs_2023 = WRs_2023[WRs_2023["tm"] != "2TM"]  
WRs_2023 = WRs_2023[WRs_2023["tm"] != "3TM"] # exlude all players who got traded
WRs_2023 = WRs_2023[WRs_2023["tm"] != "4TM"] 
WRs_2023["rec_share"] = WRs_2023.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2023["tgt_share"] = WRs_2023.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2023["td_share"] = WRs_2023.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2023["yds_share"] = WRs_2023.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)
#WRs_2023[["player","tm", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by="tm")

In [254]:
season_2024= nfl.import_seasonal_pfr("rec",[2024]) #get 2024 data
WRs_2024 = season_2024[season_2024["pos"] == "WR"] #sort by wide recievers
WRs_2024 = WRs_2024[WRs_2024["tm"] != "2TM"]  
WRs_2024 = WRs_2024[WRs_2024["tm"] != "3TM"] # exlude all players who got traded
WRs_2024 = WRs_2024[WRs_2024["tm"] != "4TM"] 
WRs_2024["rec_share"] = WRs_2024.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2024["tgt_share"] = WRs_2024.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2024["td_share"] = WRs_2024.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2024["yds_share"] = WRs_2024.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)
#WRs_2023[["player","tm", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by="tm")

In [264]:
WRs_all = pd.concat([WRs_2019, WRs_2020, WRs_2021, WRs_2022, WRs_2023, WRs_2024], ignore_index=True)

In [282]:
WRs_all[["season", "player", "tm", "pos", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by=["season", "tm"])

,season,player,tm,pos,rec_share,tgt_share,td_share,yds_share
16,2019,Larry Fitzgerald,ARI,WR,35.211268,32.440476,40.000000,34.212766
22,2019,Christian Kirk,ARI,WR,31.924883,32.142857,30.000000,30.170213
71,2019,Damiere Byrd,ARI,WR,15.023474,13.690476,10.000000,15.276596
99,2019,KeeSean Johnson,ARI,WR,9.859155,12.500000,10.000000,7.957447
134,2019,Andy Isabella,ARI,WR,4.225352,3.869048,10.000000,8.042553
...,...,...,...,...,...,...,...,...
1146,2024,Olamide Zaccheaus,WAS,WR,16.770186,16.888889,0.000000,13.353566
1165,2024,Dyami Brown,WAS,WR,12.422360,12.000000,9.090909,10.419828
1179,2024,Luke McCaffrey,WAS,WR,9.937888,8.888889,0.000000,7.840162
1254,2024,Jamison Crowder,WAS,WR,0.621118,0.444444,0.000000,0.252908
1266,2024,Brycen Tremayne,WAS,WR,0.621118,0.444444,0.000000,-0.101163

Testing

In [178]:
def team_year_WRs(tm = "KC", year= 2019):
    season= nfl.import_seasonal_pfr("rec",[year]) #get year data
    WRs_year = season[season["pos"] == "WR"] #sort by wide reciever

    
    tm_yr_WRs = WRs_year[WRs_year["tm"] == tm]
    tm_yr_WRs['rec_share']= tm_yr_WRs['rec']/tm_yr_WRs["rec"].sum() * 100
    return tm_yr_WRs[["player","tm", "tgt", "rec", "yds", "td", "rec_share"]]

team_year_WRs(tm = "KC", year= 2019)

/var/folders/bv/rvkdn5p94jv8ktnpc_xz2b700000gn/T/ipykernel_34667/2401873253.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tm_yr_WRs['rec_share']= tm_yr_WRs['rec']/tm_yr_WRs["rec"].sum() * 100

                player  tm   tgt   rec    yds   td  rec_share
570        Tyreek Hill  KC  89.0  58.0  860.0  7.0  32.222222
585      Sammy Watkins  KC  90.0  52.0  673.0  3.0  28.888889
656  Demarcus Robinson  KC  55.0  32.0  449.0  4.0  17.777778
688     Mecole Hardman  KC  41.0  26.0  538.0  6.0  14.444444
777      Byron Pringle  KC  16.0  12.0  170.0  1.0   6.666667

In [172]:
season= nfl.import_seasonal_pfr("rec",[2019])
WRs_2019 = season[season["pos"] == "WR"]
KC_2019_WRs = WRs[WRs["tm"] == "KC"]
KC_2019_WRs[["player", "tgt", "rec", "yds", "td"]]

                player   tgt   rec    yds   td
570        Tyreek Hill  89.0  58.0  860.0  7.0
585      Sammy Watkins  90.0  52.0  673.0  3.0
656  Demarcus Robinson  55.0  32.0  449.0  4.0
688     Mecole Hardman  41.0  26.0  538.0  6.0
777      Byron Pringle  16.0  12.0  170.0  1.0