In [3]:
pip install nfl-data-py

Requirement already satisfied: nfl-data-py in /opt/anaconda3/lib/python3.12/site-packages (0.3.3)
Requirement already satisfied: numpy<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.26.4)
Requirement already satisfied: pandas<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.5.3)
Requirement already satisfied: appdirs>1 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.4.4)
Requirement already satisfied: fastparquet>0.5 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (2024.11.0)
Requirement already satisfied: cramjam>=2.3 in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2.9.1)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2024.3.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas<2.0,>=1.0->nfl-data-py) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import nfl_data_py as nfl
import pandas as pd

In [9]:
rost= nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])
team_labels= rost["team"].unique()
team_labels

array(['IND', 'NE', 'NO', 'ATL', 'PHI', 'DAL', 'KC', 'HOU', 'DET', 'NYG',
       'ARI', 'PIT', 'LAC', 'MIA', 'SF', 'BUF', 'TEN', 'WAS', 'GB', 'OAK',
       'LA', 'BAL', 'SEA', 'CAR', 'CLE', 'NYJ', 'CIN', 'DEN', 'JAX',
       'MIN', 'CHI', 'TB', 'LV'], dtype=object)

WR Lists with Calculated Variables

In [11]:
season_2019= nfl.import_seasonal_pfr("rec",[2019]) #get 2019 data
WRs_2019 = season_2019[season_2019["pos"] == "WR"] #sort by wide recievers
WRs_2019 = WRs_2019[WRs_2019["tm"] != "2TM"]  
WRs_2019 = WRs_2019[WRs_2019["tm"] != "3TM"] # exlude all players who got traded
WRs_2019 = WRs_2019[WRs_2019["tm"] != "4TM"] 
WRs_2019["rec_share"] = WRs_2019.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2019["tgt_share"] = WRs_2019.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2019["td_share"] = WRs_2019.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2019["yds_share"] = WRs_2019.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [13]:
season_2020= nfl.import_seasonal_pfr("rec",[2020]) #get 2020 data
WRs_2020 = season_2020[season_2020["pos"] == "WR"] #sort by wide recievers
WRs_2020 = WRs_2020[WRs_2020["tm"] != "2TM"]  
WRs_2020 = WRs_2020[WRs_2020["tm"] != "3TM"] # exlude all players who got traded
WRs_2020 = WRs_2020[WRs_2020["tm"] != "4TM"] 
WRs_2020["rec_share"] = WRs_2020.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2020["tgt_share"] = WRs_2020.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2020["td_share"] = WRs_2020.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2020["yds_share"] = WRs_2020.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [15]:
season_2021= nfl.import_seasonal_pfr("rec",[2021]) #get 2021 data
WRs_2021 = season_2021[season_2021["pos"] == "WR"] #sort by wide recievers
WRs_2021 = WRs_2021[WRs_2021["tm"] != "2TM"]  
WRs_2021 = WRs_2021[WRs_2021["tm"] != "3TM"] # exlude all players who got traded
WRs_2021 = WRs_2021[WRs_2021["tm"] != "4TM"] 
WRs_2021["rec_share"] = WRs_2021.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2021["tgt_share"] = WRs_2021.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2021["td_share"] = WRs_2021.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2021["yds_share"] = WRs_2021.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [17]:
season_2022= nfl.import_seasonal_pfr("rec",[2022]) #get 2022 data
WRs_2022 = season_2022[season_2022["pos"] == "WR"] #sort by wide recievers
WRs_2022 = WRs_2022[WRs_2022["tm"] != "2TM"]  
WRs_2022 = WRs_2022[WRs_2022["tm"] != "3TM"] # exlude all players who got traded
WRs_2022 = WRs_2022[WRs_2022["tm"] != "4TM"] 
WRs_2022["rec_share"] = WRs_2022.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2022["tgt_share"] = WRs_2022.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2022["td_share"] = WRs_2022.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2022["yds_share"] = WRs_2022.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [19]:
season_2023= nfl.import_seasonal_pfr("rec",[2023]) #get 2023 data
WRs_2023 = season_2023[season_2023["pos"] == "WR"] #sort by wide recievers
WRs_2023 = WRs_2023[WRs_2023["tm"] != "2TM"]  
WRs_2023 = WRs_2023[WRs_2023["tm"] != "3TM"] # exlude all players who got traded
WRs_2023 = WRs_2023[WRs_2023["tm"] != "4TM"] 
WRs_2023["rec_share"] = WRs_2023.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2023["tgt_share"] = WRs_2023.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2023["td_share"] = WRs_2023.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2023["yds_share"] = WRs_2023.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [21]:
season_2024= nfl.import_seasonal_pfr("rec",[2024]) #get 2024 data
WRs_2024 = season_2024[season_2024["pos"] == "WR"] #sort by wide recievers
WRs_2024 = WRs_2024[WRs_2024["tm"] != "2TM"]  
WRs_2024 = WRs_2024[WRs_2024["tm"] != "3TM"] # exlude all players who got traded
WRs_2024 = WRs_2024[WRs_2024["tm"] != "4TM"] 
WRs_2024["rec_share"] = WRs_2024.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2024["tgt_share"] = WRs_2024.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2024["td_share"] = WRs_2024.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2024["yds_share"] = WRs_2024.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [27]:
WRs_all = pd.concat([WRs_2019, WRs_2020, WRs_2021, WRs_2022, WRs_2023, WRs_2024], ignore_index=True)
WRs_all[["season", "player", "tm", "pos", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by=["season", "tm"])

,season,player,tm,pos,rec_share,tgt_share,td_share,yds_share
16,2019,Larry Fitzgerald,ARI,WR,35.211268,32.440476,40.000000,34.212766
22,2019,Christian Kirk,ARI,WR,31.924883,32.142857,30.000000,30.170213
71,2019,Damiere Byrd,ARI,WR,15.023474,13.690476,10.000000,15.276596
99,2019,KeeSean Johnson,ARI,WR,9.859155,12.500000,10.000000,7.957447
134,2019,Andy Isabella,ARI,WR,4.225352,3.869048,10.000000,8.042553
...,...,...,...,...,...,...,...,...
1146,2024,Olamide Zaccheaus,WAS,WR,16.770186,16.888889,0.000000,13.353566
1165,2024,Dyami Brown,WAS,WR,12.422360,12.000000,9.090909,10.419828
1179,2024,Luke McCaffrey,WAS,WR,9.937888,8.888889,0.000000,7.840162
1254,2024,Jamison Crowder,WAS,WR,0.621118,0.444444,0.000000,0.252908
1266,2024,Brycen Tremayne,WAS,WR,0.621118,0.444444,0.000000,-0.101163

Make WR and QB list and their horoscopes

In [33]:
def get_player_list(position):
    rost = nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])
    filtered = rost[rost["position"] == position]
    return filtered[["player_name", "position", "team", "birth_date"]]

In [37]:
get_player_list("WR")
get_player_list("QB")

             player_name position team birth_date
1              Tom Brady       QB   NE 1977-08-03
2             Drew Brees       QB   NO 1979-01-15
4            Josh McCown       QB  PHI 1979-07-04
10           Matt Schaub       QB  ATL 1981-06-25
11           Eli Manning       QB  NYG 1981-01-03
...                  ...      ...  ...        ...
18482         Drake Maye       QB   NE 2002-08-30
18539     Jayden Daniels       QB  WAS 2000-12-18
18546  Michael Penix Jr.       QB  ATL 2000-05-08
18547     Caleb Williams       QB  CHI 2001-11-18
18551      J.J. McCarthy       QB  MIN 2003-01-20

[759 rows x 4 columns]

In [52]:
# Function to get zodiac sign
def get_zodiac_sign(birthdate):
    if pd.isnull(birthdate):
        return None
    birthdate = pd.to_datetime(birthdate)
    month = birthdate.month
    day = birthdate.day

    if (month == 1 and day >= 20) or (month == 2 and day <= 18):
        return "Aquarius"
    elif (month == 2 and day >= 19) or (month == 3 and day <= 20):
        return "Pisces"
    elif (month == 3 and day >= 21) or (month == 4 and day <= 19):
        return "Aries"
    elif (month == 4 and day >= 20) or (month == 5 and day <= 20):
        return "Taurus"
    elif (month == 5 and day >= 21) or (month == 6 and day <= 20):
        return "Gemini"
    elif (month == 6 and day >= 21) or (month == 7 and day <= 22):
        return "Cancer"
    elif (month == 7 and day >= 23) or (month == 8 and day <= 22):
        return "Leo"
    elif (month == 8 and day >= 23) or (month == 9 and day <= 22):
        return "Virgo"
    elif (month == 9 and day >= 23) or (month == 10 and day <= 22):
        return "Libra"
    elif (month == 10 and day >= 23) or (month == 11 and day <= 21):
        return "Scorpio"
    elif (month == 11 and day >= 22) or (month == 12 and day <= 21):
        return "Sagittarius"
    elif (month == 12 and day >= 22) or (month == 1 and day <= 19):
        return "Capricorn"

# Function to get player zodiac signs
def get_player_zodiac_data(position):
    roster = nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])

    # Filter the data to only include the specified position
    position_data = roster[roster["position"] == position]

    player_data = position_data[["player_name", "position", "team", "birth_date"]]

    # Drop rows without birth dates
    player_data = player_data.dropna(subset=["birth_date"])

    # Add zodiac sign column
    player_data["zodiac_sign"] = player_data["birth_date"].apply(get_zodiac_sign)

    return player_data

# Run it
wr_df = get_player_zodiac_data("WR")
qb_df = get_player_zodiac_data("QB")

In [68]:
wr_df = wr_df.rename(columns={"player_name": "player"})
wr_df

                 player position team birth_date  zodiac_sign
13     Larry Fitzgerald       WR  ARI 1983-08-31        Virgo
45             Ted Ginn       WR   NO 1985-04-12        Aries
64       Danny Amendola       WR  DET 1985-11-02      Scorpio
70       DeSean Jackson       WR  PHI 1986-12-01  Sagittarius
75       Matthew Slater       WR   NE 1985-09-09        Virgo
...                 ...      ...  ...        ...          ...
18543    Praise Olatoke       WR  CAR 2000-06-23       Cancer
18544     Ladd McConkey       WR  LAC 2001-11-11      Scorpio
18545    Ricky Pearsall       WR   SF 2000-09-09        Virgo
18548       Rome Odunze       WR  CHI 2002-04-03        Aries
18549    Malachi Corley       WR  NYJ 2002-03-21        Aries

[2247 rows x 5 columns]

In [244]:
qb_df = qb_df.rename(columns={"player_name": "player"})
qb_df.isna().sum() #check for missing data

player         0
position       0
team           0
birth_date     0
zodiac_sign    0
dtype: int64

Combine calculated variables df and horscope df

In [186]:
combined_WR = pd.merge(wr_df, WRs_all, on="player", how="outer")
combined_WR= combined_WR.dropna(subset=["season"])
combined_WR=combined_WR[["season", "player", "tm", "pos", "birth_date", "zodiac_sign", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by=["season", "tm"])
    #keep only relevant columns
pd.set_option('display.max_rows', 100)  # Show up to 100 rows
combined_WR.sort_values(by=["player"]).head(100)

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
5812,2022.0,AJ Brown,PHI,WR,NaT,NaN,38.095238,41.310541,50.000000,46.808511
5809,2019.0,AJ Brown,TEN,WR,NaT,NaN,34.899329,38.709677,47.058824,48.100686
5811,2021.0,AJ Brown,TEN,WR,NaT,NaN,34.239130,35.234899,38.461538,37.057569
5810,2020.0,AJ Brown,TEN,WR,NaT,NaN,36.458333,37.588652,55.000000,39.785344
5813,2023.0,AJ Brown,PHI,WR,NaT,NaN,46.696035,47.023810,35.000000,49.456522
5814,2024.0,AJ Brown,PHI,WR,NaT,NaN,38.260870,37.349398,40.000000,52.308707
5853,2020.0,AJ Green,CIN,WR,NaT,NaN,20.000000,26.598465,15.384615,19.263352
5855,2022.0,AJ Green,ARI,WR,NaT,NaN,9.338521,12.303665,18.181818,9.097918
5854,2021.0,AJ Green,ARI,WR,NaT,NaN,21.600000,25.626741,15.000000,27.595184
5893,2023.0,AT Perry,NO,WR,NaT,NaN,6.000000,5.625000,25.000000,9.262048
929,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
920,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
918,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
921,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
924,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
926,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
919,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
927,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
925,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
928,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
922,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
923,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
221,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
227,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
210,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
215,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
212,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
218,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
224,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
209,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
216,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
229,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
230,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
236,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
242,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
243,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
222,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
231,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
225,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
219,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
213,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
239,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
211,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
241,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
235,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
217,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
223,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
237,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
233,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
232,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
238,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
240,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
226,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
234,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
228,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
220,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
208,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
214,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
5795,2024.0,Adonai Mitchell,IND,WR,2002-10-08,Libra,13.333333,17.045455,0.000000,12.037915
5777,2024.0,Ainias Smith,PHI,WR,2001-05-31,Gemini,2.608696,1.807229,0.000000,0.395778
412,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
410,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
414,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
417,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
416,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
413,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
415,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
411,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
5335,2024.0,Alec Pierce,IND,WR,2000-05-02,Taurus,19.333333,20.454545,41.666667,30.568720
5332,2024.0,Alec Pierce,IND,WR,2000-05-02,Taurus,19.333333,20.454545,41.666667,30.568720
5337,2023.0,Alec Pierce,IND,WR,2000-05-02,Taurus,14.349776,18.895349,22.222222,19.961165
5334,2023.0,Alec Pierce,IND,WR,2000-05-02,Taurus,14.349776,18.895349,22.222222,19.961165
5331,2023.0,Alec Pierce,IND,WR,2000-05-02,Taurus,14.349776,18.895349,22.222222,19.961165
5330,2022.0,Alec Pierce,IND,WR,2000-05-02,Taurus,18.303571,22.413793,20.000000,24.194206
5333,2022.0,Alec Pierce,IND,WR,2000-05-02,Taurus,18.303571,22.413793,20.000000,24.194206
5336,2022.0,Alec Pierce,IND,WR,2000-05-02,Taurus,18.303571,22.413793,20.000000,24.194206
5338,2024.0,Alec Pierce,IND,WR,2000-05-02,Taurus,19.333333,20.454545,41.666667,30.568720
3703,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3705,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3706,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3701,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3704,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3702,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
1169,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1176,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1172,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1168,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1164,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1160,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1156,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1173,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1174,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1170,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1166,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1162,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1158,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1159,2023.0,Alex Erickson,LAC,WR,1992-11-06,Scorpio,6.374502,7.512953,6.666667,7.909990
1157,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1161,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1167,2023.0,Alex Erickson,LAC,WR,1992-11-06,Scorpio,6.374502,7.512953,6.666667,7.909990

In [276]:
combined_WR = combined_WR.drop_duplicates(subset="yds_share")
combined_WR.sort_values(by=["player"])

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
629,2021.0,AJ Brown,TEN,WR,1997-06-30,Cancer,34.239130,35.234899,38.461538,37.057569
802,2022.0,AJ Brown,PHI,WR,1997-06-30,Cancer,38.095238,41.310541,50.000000,46.808511
1002,2023.0,AJ Brown,PHI,WR,1997-06-30,Cancer,46.696035,47.023810,35.000000,49.456522
410,2020.0,AJ Brown,TEN,WR,1997-06-30,Cancer,36.458333,37.588652,55.000000,39.785344
1185,2024.0,AJ Brown,PHI,WR,1997-06-30,Cancer,38.260870,37.349398,40.000000,52.308707
...,...,...,...,...,...,...,...,...,...,...
1039,2024.0,Zay Jones,ARI,WR,1995-03-30,Aries,0.961538,1.149425,0.000000,0.246305
539,2021.0,Zay Jones,LV,WR,1995-03-30,Aries,22.596154,23.890785,6.666667,20.807927
324,2020.0,Zay Jones,LV,WR,1995-03-30,Aries,9.032258,8.438819,7.142857,6.550404
925,2023.0,Zay Jones,JAX,WR,1995-03-30,Aries,16.113744,18.338109,12.500000,12.336664
730,2022.0,Zay Jones,JAX,WR,1995-03-30,Aries,34.453782,32.791328,26.315789,30.743369

In [190]:
combined_WR.isna().sum() #check for missing data

season          0
player          0
tm              0
pos             0
birth_date     87
zodiac_sign    87
rec_share       0
tgt_share       0
td_share        0
yds_share       0
dtype: int64

In [192]:
combined_WR = combined_WR .reset_index(drop=True) #reset index for clarity
combined_WR

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
0,2019.0,Larry Fitzgerald,ARI,WR,1983-08-31,Virgo,35.211268,32.440476,40.000000,34.212766
1,2019.0,Michael Crabtree,ARI,WR,1987-09-14,Virgo,1.877934,1.488095,0.000000,0.936170
2,2019.0,Damiere Byrd,ARI,WR,1993-01-27,Aquarius,15.023474,13.690476,10.000000,15.276596
3,2019.0,Trent Sherfield,ARI,WR,1996-02-26,Pisces,1.877934,3.869048,0.000000,3.404255
4,2019.0,Christian Kirk,ARI,WR,1996-11-18,Scorpio,31.924883,32.142857,30.000000,30.170213
...,...,...,...,...,...,...,...,...,...,...
1220,2024.0,Olamide Zaccheaus,WAS,WR,1997-07-23,Leo,16.770186,16.888889,0.000000,13.353566
1221,2024.0,Terry McLaurin,WAS,WR,1995-09-15,Virgo,37.888199,36.444444,81.818182,45.321194
1222,2024.0,Dyami Brown,WAS,WR,1999-11-01,Scorpio,12.422360,12.000000,9.090909,10.419828
1223,2024.0,Brycen Tremayne,WAS,WR,1999-11-18,Scorpio,0.621118,0.444444,0.000000,-0.101163
1224,2024.0,Luke McCaffrey,WAS,WR,2001-04-02,Aries,9.937888,8.888889,0.000000,7.840162

In [194]:
players_missing_bday = combined_WR[combined_WR["birth_date"].isna()]
players_missing_bday = players_missing_bday.drop_duplicates(subset="player") #remove names if they played multiple seasons
players_missing_bday["player"] #what players don't have birthdays

25                 Lee Smith
38            Jesper Horsted
52         Ricky Seals-Jones
70               JD McKissic
89                 TY Hilton
96                  CJ Board
119                JJ Nelson
137              NKeal Harry
143              Taysom Hill
151                 TJ Jones
152             DaMari Scott
162          Chosen Anderson
168      JJ Arcega-Whiteside
200                 AJ Brown
201           Delanie Walker
214                DJ Foster
256                 AJ Green
262         JaMarcus Bradley
286     Equanimeous St Brown
335            Malcolm Perry
355            TreQuan Smith
356       LilJordan Humphrey
411               Cam Batson
412              Geoff Swaim
454              CJ Saunders
468             JaMarr Chase
474          Demetric Felton
494         Amon-Ra St Brown
529             Jody Fortson
556                KJ Osborn
592            DJ Montgomery
608          DWayne Eskridge
686            Michael Woods
792         WanDale Robinson
984                 AT Perry
1042         Marvin Harrison
1121            Brian Thomas
1151            Grant Dubose
1162             JaLynn Polk
1217         JhaQuan Jackson
Name: player, dtype: object

In [196]:
combined_WR.iloc[25, 4]= "1987-11-21" #put birthday in
combined_WR[combined_WR["player"] == "Lee Smith"] #quick check

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
25,2019.0,Lee Smith,BUF,WR,1987-11-21,NaN,2.12766,1.618123,6.666667,1.306363

In [220]:
get_zodiac_sign("1987-11-21") #test function from above

'Scorpio'

In [234]:
# Function to get player zodiac signs
star_sign =[]
for i in combined_WR["birth_date"]: #find zodiac signs again including new birth dates
    zodiacs= get_zodiac_sign(i)
    star_sign.append(zodiacs)

combined_WR["zodiac_sign"] = star_sign #put new signs into data set
combined_WR.isna().sum() #check to make sure Lee Smith has no NA

season          0
player          0
tm              0
pos             0
birth_date     86
zodiac_sign    86
rec_share       0
tgt_share       0
td_share        0
yds_share       0
dtype: int64

In [236]:
combined_WR[combined_WR["player"] == "Lee Smith"] #quick check again

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
25,2019.0,Lee Smith,BUF,WR,1987-11-21,Scorpio,2.12766,1.618123,6.666667,1.306363

In [242]:
#put birthdays in, found from Professional Football Reference website 
combined_WR.iloc[25, 4] = "1987-11-21" #this is repeat from test
combined_WR.iloc[38, 4] = "1997-02-27"
combined_WR.iloc[52, 4] = "1995-03-15"
combined_WR.iloc[70, 4] = "1993-08-15"
combined_WR.iloc[89, 4] = "1989-11-14"
combined_WR.iloc[96, 4] = "1993-12-12"
combined_WR.iloc[119, 4] = "1992-04-24"
combined_WR.iloc[137, 4] = "1997-12-17"
combined_WR.iloc[143, 4] = "1990-08-23"
combined_WR.iloc[151, 4] = "1992-07-19"
combined_WR.iloc[152, 4] = "1995-08-08"
combined_WR.iloc[162, 4] = "1993-05-09"
combined_WR.iloc[168, 4] = "1996-12-31"
combined_WR.iloc[200, 4] = "1997-06-30"
combined_WR.iloc[201, 4] = "1984-08-12"
combined_WR.iloc[214, 4] = "1993-11-22"
combined_WR.iloc[256, 4] = "1988-07-31"
combined_WR.iloc[262, 4] = "1996-12-11"
combined_WR.iloc[286, 4] = "1996-09-20"
combined_WR.iloc[335, 4] = "1997-04-19"
combined_WR.iloc[355, 4] = "1996-01-07"
combined_WR.iloc[356, 4] = "1998-04-19"
combined_WR.iloc[411, 4] = "1995-12-20"
combined_WR.iloc[412, 4] = "1993-09-16"
combined_WR.iloc[454, 4] = "1996-09-15"
combined_WR.iloc[468, 4] = "2000-04-10"
combined_WR.iloc[474, 4] = "1998-07-16"
combined_WR.iloc[494, 4] = "1999-10-24"
combined_WR.iloc[529, 4] = "1995-12-07"
combined_WR.iloc[556, 4] = "1997-06-10"
combined_WR.iloc[592, 4] = "1996-11-17"
combined_WR.iloc[608, 4] = "1997-03-23"
combined_WR.iloc[686, 4] = "2000-03-19"
combined_WR.iloc[792, 4] = "2001-01-05"
combined_WR.iloc[984, 4] = "1999-10-26"
combined_WR.iloc[1042, 4] = "2002-08-11"
combined_WR.iloc[1121, 4] = "2002-10-08"
combined_WR.iloc[1151, 4] = "2001-06-20"
combined_WR.iloc[1162, 4] = "2002-04-11"
combined_WR.iloc[1217, 4] = "2000-05-15"

In [246]:
#do the for loop for the full set of new birthdays
star_sign =[] 
for i in combined_WR["birth_date"]: #find zodiac signs again including new birth dates
    zodiacs= get_zodiac_sign(i)
    star_sign.append(zodiacs)

combined_WR["zodiac_sign"] = star_sign #put new signs into data set
combined_WR.isna().sum() #check to make sure no NA

season          0
player          0
tm              0
pos             0
birth_date     47
zodiac_sign    47
rec_share       0
tgt_share       0
td_share        0
yds_share       0
dtype: int64

In [264]:
combined_WR[combined_WR["player"] == "JaMarr Chase"] #quick check again, looks like it didnt put teh birthdates in all columns of the same player

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
468,2021.0,JaMarr Chase,CIN,WR,2000-04-10,Aries,34.322034,35.654596,52.000000,40.974373
680,2022.0,JaMarr Chase,CIN,WR,NaT,None,35.950413,36.314363,36.000000,33.017677
883,2023.0,JaMarr Chase,CIN,WR,NaT,None,38.910506,37.467700,36.842105,40.039513
1073,2024.0,JaMarr Chase,CIN,WR,NaT,None,51.298701,44.489796,56.521739,53.240093

In [268]:
players_missing_bday_2 = combined_WR[combined_WR["birth_date"].isna()]
players_missing_bday_2["player"] #what players don't have birthdays

241          Chosen Anderson
301                TY Hilton
346              NKeal Harry
362                 CJ Board
381      JJ Arcega-Whiteside
410                 AJ Brown
426                 AJ Green
453          Chosen Anderson
460           Jesper Horsted
473         JaMarcus Bradley
502     Equanimeous St Brown
516                TY Hilton
562              NKeal Harry
571            TreQuan Smith
572       LilJordan Humphrey
582                 CJ Board
597      JJ Arcega-Whiteside
629                 AJ Brown
630               Cam Batson
638              JD McKissic
645                 AJ Green
673              NKeal Harry
674     Equanimeous St Brown
680             JaMarr Chase
694                TY Hilton
710         Amon-Ra St Brown
769                KJ Osborn
776       LilJordan Humphrey
785            TreQuan Smith
802                 AJ Brown
816          DWayne Eskridge
836                 CJ Board
876     Equanimeous St Brown
883             JaMarr Chase
899       LilJordan Humphrey
905         Amon-Ra St Brown
924            DJ Montgomery
971                KJ Osborn
990         WanDale Robinson
1002                AJ Brown
1073            JaMarr Chase
1081           Michael Woods
1097        Amon-Ra St Brown
1150         DWayne Eskridge
1161               KJ Osborn
1174        WanDale Robinson
1185                AJ Brown
Name: player, dtype: object

In [270]:
combined_WR.iloc[241, 4] = "1993-05-09"      # Chosen Anderson
combined_WR.iloc[301, 4] = "1989-11-14"      # TY Hilton
combined_WR.iloc[346, 4] = "1997-12-17"      # NKeal Harry
combined_WR.iloc[362, 4] = "1993-12-12"      # CJ Board
combined_WR.iloc[381, 4] = "1996-12-31"      # JJ Arcega-Whiteside
combined_WR.iloc[410, 4] = "1997-06-30"      # AJ Brown
combined_WR.iloc[426, 4] = "1988-07-31"      # AJ Green
combined_WR.iloc[453, 4] = "1993-05-09"      # Chosen Anderson
combined_WR.iloc[460, 4] = "1997-02-27"      # Jesper Horsted
combined_WR.iloc[473, 4] = "1996-12-11"      # JaMarcus Bradley
combined_WR.iloc[502, 4] = "1996-09-20"      # Equanimeous St Brown
combined_WR.iloc[516, 4] = "1989-11-14"      # TY Hilton
combined_WR.iloc[562, 4] = "1997-12-17"      # NKeal Harry
combined_WR.iloc[571, 4] = "1996-01-07"      # TreQuan Smith
combined_WR.iloc[572, 4] = "1998-04-19"      # LilJordan Humphrey
combined_WR.iloc[582, 4] = "1993-12-12"      # CJ Board
combined_WR.iloc[597, 4] = "1996-12-31"      # JJ Arcega-Whiteside
combined_WR.iloc[629, 4] = "1997-06-30"      # AJ Brown
combined_WR.iloc[630, 4] = "1995-12-20"      # Cam Batson
combined_WR.iloc[638, 4] = "1993-08-15"      # JD McKissic
combined_WR.iloc[645, 4] = "1988-07-31"      # AJ Green
combined_WR.iloc[673, 4] = "1997-12-17"      # NKeal Harry
combined_WR.iloc[674, 4] = "1996-09-20"      # Equanimeous St Brown
combined_WR.iloc[680, 4] = "2000-04-10"      # JaMarr Chase
combined_WR.iloc[694, 4] = "1989-11-14"      # TY Hilton
combined_WR.iloc[710, 4] = "1999-10-24"      # Amon-Ra St Brown
combined_WR.iloc[769, 4] = "1997-06-10"      # KJ Osborn
combined_WR.iloc[776, 4] = "1998-04-19"      # LilJordan Humphrey
combined_WR.iloc[785, 4] = "1996-01-07"      # TreQuan Smith
combined_WR.iloc[802, 4] = "1997-06-30"      # AJ Brown
combined_WR.iloc[816, 4] = "1997-03-23"      # DWayne Eskridge
combined_WR.iloc[836, 4] = "1993-12-12"      # CJ Board
combined_WR.iloc[876, 4] = "1996-09-20"      # Equanimeous St Brown
combined_WR.iloc[883, 4] = "2000-04-10"      # JaMarr Chase
combined_WR.iloc[899, 4] = "1998-04-19"      # LilJordan Humphrey
combined_WR.iloc[905, 4] = "1999-10-24"      # Amon-Ra St Brown
combined_WR.iloc[924, 4] = "1996-11-17"      # DJ Montgomery
combined_WR.iloc[971, 4] = "1997-06-10"      # KJ Osborn
combined_WR.iloc[990, 4] = "2001-01-05"      # WanDale Robinson
combined_WR.iloc[1002, 4] = "1997-06-30"     # AJ Brown
combined_WR.iloc[1073, 4] = "2000-04-10"     # JaMarr Chase
combined_WR.iloc[1081, 4] = "2000-03-19"     # Michael Woods
combined_WR.iloc[1097, 4] = "1999-10-24"     # Amon-Ra St Brown
combined_WR.iloc[1150, 4] = "1997-03-23"     # DWayne Eskridge
combined_WR.iloc[1161, 4] = "1997-06-10"     # KJ Osborn
combined_WR.iloc[1174, 4] = "2001-01-05"     # WanDale Robinson
combined_WR.iloc[1185, 4] = "1997-06-30"     # AJ Brown

In [272]:
#do the for loop ANOTHER time
star_sign =[] 
for i in combined_WR["birth_date"]: #find zodiac signs again including new birth dates
    zodiacs= get_zodiac_sign(i)
    star_sign.append(zodiacs)

combined_WR["zodiac_sign"] = star_sign #put new signs into data set
combined_WR.isna().sum() #check to make sure no NA, yay!!!!

season         0
player         0
tm             0
pos            0
birth_date     0
zodiac_sign    0
rec_share      0
tgt_share      0
td_share       0
yds_share      0
dtype: int64

In [274]:
combined_WR

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
0,2019.0,Larry Fitzgerald,ARI,WR,1983-08-31,Virgo,35.211268,32.440476,40.000000,34.212766
1,2019.0,Michael Crabtree,ARI,WR,1987-09-14,Virgo,1.877934,1.488095,0.000000,0.936170
2,2019.0,Damiere Byrd,ARI,WR,1993-01-27,Aquarius,15.023474,13.690476,10.000000,15.276596
3,2019.0,Trent Sherfield,ARI,WR,1996-02-26,Pisces,1.877934,3.869048,0.000000,3.404255
4,2019.0,Christian Kirk,ARI,WR,1996-11-18,Scorpio,31.924883,32.142857,30.000000,30.170213
...,...,...,...,...,...,...,...,...,...,...
1220,2024.0,Olamide Zaccheaus,WAS,WR,1997-07-23,Leo,16.770186,16.888889,0.000000,13.353566
1221,2024.0,Terry McLaurin,WAS,WR,1995-09-15,Virgo,37.888199,36.444444,81.818182,45.321194
1222,2024.0,Dyami Brown,WAS,WR,1999-11-01,Scorpio,12.422360,12.000000,9.090909,10.419828
1223,2024.0,Brycen Tremayne,WAS,WR,1999-11-18,Scorpio,0.621118,0.444444,0.000000,-0.101163
1224,2024.0,Luke McCaffrey,WAS,WR,2001-04-02,Aries,9.937888,8.888889,0.000000,7.840162