In [344]:
pip install nfl-data-py

Requirement already satisfied: nfl-data-py in /opt/anaconda3/lib/python3.12/site-packages (0.3.3)
Requirement already satisfied: numpy<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.26.4)
Requirement already satisfied: pandas<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.5.3)
Requirement already satisfied: appdirs>1 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (1.4.4)
Requirement already satisfied: fastparquet>0.5 in /opt/anaconda3/lib/python3.12/site-packages (from nfl-data-py) (2024.11.0)
Requirement already satisfied: cramjam>=2.3 in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2.9.1)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (2024.3.1)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from fastparquet>0.5->nfl-data-py) (23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas<2.0,>=1.0->nfl-data-py) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas<2.0,>=1.0->nfl-data-py) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [345]:
import nfl_data_py as nfl
import pandas as pd

In [346]:
rost= nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])
team_labels= rost["team"].unique()
team_labels

array(['IND', 'NE', 'NO', 'ATL', 'PHI', 'DAL', 'KC', 'HOU', 'DET', 'NYG',
       'ARI', 'PIT', 'LAC', 'MIA', 'SF', 'BUF', 'TEN', 'WAS', 'GB', 'OAK',
       'LA', 'BAL', 'SEA', 'CAR', 'CLE', 'NYJ', 'CIN', 'DEN', 'JAX',
       'MIN', 'CHI', 'TB', 'LV'], dtype=object)

WR Lists with Calculated Variables

In [348]:
season_2019= nfl.import_seasonal_pfr("rec",[2019]) #get 2019 data
WRs_2019 = season_2019[season_2019["pos"] == "WR"] #sort by wide recievers
WRs_2019 = WRs_2019[WRs_2019["tm"] != "2TM"]  
WRs_2019 = WRs_2019[WRs_2019["tm"] != "3TM"] # exlude all players who got traded
WRs_2019 = WRs_2019[WRs_2019["tm"] != "4TM"] 
WRs_2019["rec_share"] = WRs_2019.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2019["tgt_share"] = WRs_2019.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2019["td_share"] = WRs_2019.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2019["yds_share"] = WRs_2019.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [349]:
season_2020= nfl.import_seasonal_pfr("rec",[2020]) #get 2020 data
WRs_2020 = season_2020[season_2020["pos"] == "WR"] #sort by wide recievers
WRs_2020 = WRs_2020[WRs_2020["tm"] != "2TM"]  
WRs_2020 = WRs_2020[WRs_2020["tm"] != "3TM"] # exlude all players who got traded
WRs_2020 = WRs_2020[WRs_2020["tm"] != "4TM"] 
WRs_2020["rec_share"] = WRs_2020.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2020["tgt_share"] = WRs_2020.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2020["td_share"] = WRs_2020.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2020["yds_share"] = WRs_2020.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [350]:
season_2021= nfl.import_seasonal_pfr("rec",[2021]) #get 2021 data
WRs_2021 = season_2021[season_2021["pos"] == "WR"] #sort by wide recievers
WRs_2021 = WRs_2021[WRs_2021["tm"] != "2TM"]  
WRs_2021 = WRs_2021[WRs_2021["tm"] != "3TM"] # exlude all players who got traded
WRs_2021 = WRs_2021[WRs_2021["tm"] != "4TM"] 
WRs_2021["rec_share"] = WRs_2021.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2021["tgt_share"] = WRs_2021.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2021["td_share"] = WRs_2021.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2021["yds_share"] = WRs_2021.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [351]:
season_2022= nfl.import_seasonal_pfr("rec",[2022]) #get 2022 data
WRs_2022 = season_2022[season_2022["pos"] == "WR"] #sort by wide recievers
WRs_2022 = WRs_2022[WRs_2022["tm"] != "2TM"]  
WRs_2022 = WRs_2022[WRs_2022["tm"] != "3TM"] # exlude all players who got traded
WRs_2022 = WRs_2022[WRs_2022["tm"] != "4TM"] 
WRs_2022["rec_share"] = WRs_2022.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2022["tgt_share"] = WRs_2022.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2022["td_share"] = WRs_2022.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2022["yds_share"] = WRs_2022.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [352]:
season_2023= nfl.import_seasonal_pfr("rec",[2023]) #get 2023 data
WRs_2023 = season_2023[season_2023["pos"] == "WR"] #sort by wide recievers
WRs_2023 = WRs_2023[WRs_2023["tm"] != "2TM"]  
WRs_2023 = WRs_2023[WRs_2023["tm"] != "3TM"] # exlude all players who got traded
WRs_2023 = WRs_2023[WRs_2023["tm"] != "4TM"] 
WRs_2023["rec_share"] = WRs_2023.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2023["tgt_share"] = WRs_2023.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2023["td_share"] = WRs_2023.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2023["yds_share"] = WRs_2023.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [353]:
season_2024= nfl.import_seasonal_pfr("rec",[2024]) #get 2024 data
WRs_2024 = season_2024[season_2024["pos"] == "WR"] #sort by wide recievers
WRs_2024 = WRs_2024[WRs_2024["tm"] != "2TM"]  
WRs_2024 = WRs_2024[WRs_2024["tm"] != "3TM"] # exlude all players who got traded
WRs_2024 = WRs_2024[WRs_2024["tm"] != "4TM"] 
WRs_2024["rec_share"] = WRs_2024.groupby("tm")['rec'].transform(lambda x:x/x.sum()*100)
WRs_2024["tgt_share"] = WRs_2024.groupby("tm")['tgt'].transform(lambda x:x/x.sum()*100) #calculate our key variables
WRs_2024["td_share"] = WRs_2024.groupby("tm")['td'].transform(lambda x:x/x.sum()*100)
WRs_2024["yds_share"] = WRs_2024.groupby("tm")['yds'].transform(lambda x:x/x.sum()*100)

In [354]:
WRs_all = pd.concat([WRs_2019, WRs_2020, WRs_2021, WRs_2022, WRs_2023, WRs_2024], ignore_index=True)
WRs_all[["season", "player", "tm", "pos", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by=["season", "tm"])

,season,player,tm,pos,rec_share,tgt_share,td_share,yds_share
16,2019,Larry Fitzgerald,ARI,WR,35.211268,32.440476,40.000000,34.212766
22,2019,Christian Kirk,ARI,WR,31.924883,32.142857,30.000000,30.170213
71,2019,Damiere Byrd,ARI,WR,15.023474,13.690476,10.000000,15.276596
99,2019,KeeSean Johnson,ARI,WR,9.859155,12.500000,10.000000,7.957447
134,2019,Andy Isabella,ARI,WR,4.225352,3.869048,10.000000,8.042553
...,...,...,...,...,...,...,...,...
1146,2024,Olamide Zaccheaus,WAS,WR,16.770186,16.888889,0.000000,13.353566
1165,2024,Dyami Brown,WAS,WR,12.422360,12.000000,9.090909,10.419828
1179,2024,Luke McCaffrey,WAS,WR,9.937888,8.888889,0.000000,7.840162
1254,2024,Jamison Crowder,WAS,WR,0.621118,0.444444,0.000000,0.252908
1266,2024,Brycen Tremayne,WAS,WR,0.621118,0.444444,0.000000,-0.101163

Make WR and QB list and their horoscopes

In [356]:
def get_player_list(position):
    rost = nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])
    filtered = rost[rost["position"] == position]
    return filtered[["season","player_name", "position", "team", "birth_date"]]

In [357]:
get_player_list("WR")
get_player_list("QB")

       season        player_name position team birth_date
1        2019          Tom Brady       QB   NE 1977-08-03
2        2019         Drew Brees       QB   NO 1979-01-15
4        2019        Josh McCown       QB  PHI 1979-07-04
10       2019        Matt Schaub       QB  ATL 1981-06-25
11       2019        Eli Manning       QB  NYG 1981-01-03
...       ...                ...      ...  ...        ...
18482    2024         Drake Maye       QB   NE 2002-08-30
18539    2024     Jayden Daniels       QB  WAS 2000-12-18
18546    2024  Michael Penix Jr.       QB  ATL 2000-05-08
18547    2024     Caleb Williams       QB  CHI 2001-11-18
18551    2024      J.J. McCarthy       QB  MIN 2003-01-20

[759 rows x 5 columns]

In [358]:
# Function to get zodiac sign
def get_zodiac_sign(birthdate):
    if pd.isnull(birthdate):
        return None
    birthdate = pd.to_datetime(birthdate)
    month = birthdate.month
    day = birthdate.day

    if (month == 1 and day >= 20) or (month == 2 and day <= 18):
        return "Aquarius"
    elif (month == 2 and day >= 19) or (month == 3 and day <= 20):
        return "Pisces"
    elif (month == 3 and day >= 21) or (month == 4 and day <= 19):
        return "Aries"
    elif (month == 4 and day >= 20) or (month == 5 and day <= 20):
        return "Taurus"
    elif (month == 5 and day >= 21) or (month == 6 and day <= 20):
        return "Gemini"
    elif (month == 6 and day >= 21) or (month == 7 and day <= 22):
        return "Cancer"
    elif (month == 7 and day >= 23) or (month == 8 and day <= 22):
        return "Leo"
    elif (month == 8 and day >= 23) or (month == 9 and day <= 22):
        return "Virgo"
    elif (month == 9 and day >= 23) or (month == 10 and day <= 22):
        return "Libra"
    elif (month == 10 and day >= 23) or (month == 11 and day <= 21):
        return "Scorpio"
    elif (month == 11 and day >= 22) or (month == 12 and day <= 21):
        return "Sagittarius"
    elif (month == 12 and day >= 22) or (month == 1 and day <= 19):
        return "Capricorn"

# Function to get player zodiac signs
def get_player_zodiac_data(position):
    roster = nfl.import_seasonal_rosters([2019, 2020, 2021, 2022, 2023, 2024])

    # Filter the data to only include the specified position
    position_data = roster[roster["position"] == position]

    player_data = position_data[["player_name", "position", "team", "birth_date", "season"]]

    # Drop rows without birth dates
    player_data = player_data.dropna(subset=["birth_date"])

    # Add zodiac sign column
    player_data["zodiac_sign"] = player_data["birth_date"].apply(get_zodiac_sign)

    return player_data

# Run it
wr_df = get_player_zodiac_data("WR")

In [359]:
wr_df = wr_df.rename(columns={"player_name": "player"})
wr_df

                 player position team birth_date  season  zodiac_sign
13     Larry Fitzgerald       WR  ARI 1983-08-31    2019        Virgo
45             Ted Ginn       WR   NO 1985-04-12    2019        Aries
64       Danny Amendola       WR  DET 1985-11-02    2019      Scorpio
70       DeSean Jackson       WR  PHI 1986-12-01    2019  Sagittarius
75       Matthew Slater       WR   NE 1985-09-09    2019        Virgo
...                 ...      ...  ...        ...     ...          ...
18543    Praise Olatoke       WR  CAR 2000-06-23    2024       Cancer
18544     Ladd McConkey       WR  LAC 2001-11-11    2024      Scorpio
18545    Ricky Pearsall       WR   SF 2000-09-09    2024        Virgo
18548       Rome Odunze       WR  CHI 2002-04-03    2024        Aries
18549    Malachi Corley       WR  NYJ 2002-03-21    2024        Aries

[2247 rows x 6 columns]

Change to only top performing QB

In [360]:
QB= get_player_list("QB")

def keep_1_QB(QB, sea=2019, tm="PHI", name="Carson Wentz"): # create function to only keep to QB (that we manually found on Pro Football Reference)
    QB = QB[~((QB["season"] == sea) & (QB["team"] == tm) & (QB["player_name"] != name))]
    return QB

# Test the function with different seasons, without creating new datasets
QB = keep_1_QB(QB, sea=2019, tm="PHI", name="Carson Wentz")  # For 2019 season
QB = keep_1_QB(QB, sea=2020, tm="PHI", name="Carson Wentz")  # For 2020 season

QB[QB["team"] == "PHI"] # test

       season      player_name position team birth_date
1265     2019     Carson Wentz       QB  PHI 1992-12-30
4202     2020     Carson Wentz       QB  PHI 1992-12-30
7899     2021  Gardner Minshew       QB  PHI 1996-05-16
8311     2021     Reid Sinnett       QB  PHI 1997-02-05
8585     2021      Jalen Hurts       QB  PHI 1998-08-07
10505    2022  Gardner Minshew       QB  PHI 1996-05-16
11086    2022      Jalen Hurts       QB  PHI 1998-08-07
11464    2022         Ian Book       QB  PHI 1998-03-30
12566    2023   Marcus Mariota       QB  PHI 1993-10-30
13779    2023      Jalen Hurts       QB  PHI 1998-08-07
14727    2023     Tanner McKee       QB  PHI 2000-04-27
16572    2024      Jalen Hurts       QB  PHI 1998-08-07
16836    2024         Ian Book       QB  PHI 1998-03-30
17321    2024    Kenny Pickett       QB  PHI 1998-06-06
17393    2024     Tanner McKee       QB  PHI 2000-04-27

In [361]:
#Raiders
QB = keep_1_QB(QB, sea=2019, tm="OAK", name="Derek Carr")  # For 2019 season
QB = keep_1_QB(QB, sea=2020, tm="LV", name="Derek Carr")  # For 2020 season
QB = keep_1_QB(QB, sea=2021, tm="LV", name="Derek Carr")  # For 2019 season
QB = keep_1_QB(QB, sea=2022, tm="LV", name="Derek Carr")  # For 2020 season
QB = keep_1_QB(QB, sea=2023, tm="LV", name="Aidan O'Connell")  # For 2019 season
QB = keep_1_QB(QB, sea=2024, tm="LV", name="Gardner Minshew")  # For 2020 season
QB[QB["team"] == "LV"] #check

#Eagles
QB = keep_1_QB(QB, sea=2019, tm="PHI", name="Carson Wentz")  
QB = keep_1_QB(QB, sea=2020, tm="PHI", name="Carson Wentz")  
QB = keep_1_QB(QB, sea=2021, tm="PHI", name="Jalen Hurts")  
QB = keep_1_QB(QB, sea=2022, tm="PHI", name="Jalen Hurts")  
QB = keep_1_QB(QB, sea=2023, tm="PHI", name="Jalen Hurts")  
QB = keep_1_QB(QB, sea=2024, tm="PHI", name="Jalen Hurts")  
QB[QB["team"] == "PHI"] #check

#Commanders
QB[QB["team"] == "WAS"] 
QB = keep_1_QB(QB, sea=2019, tm="WAS", name="Case Keenum")  
QB = keep_1_QB(QB, sea=2020, tm="WAS", name="Alex Smith") 
QB = keep_1_QB(QB, sea=2021, tm="WAS", name="Taylor Heinicke")  
QB = keep_1_QB(QB, sea=2022, tm="WAS", name="Carson Wentz")  
QB = keep_1_QB(QB, sea=2023, tm="WAS", name="Sam Howell")  
QB = keep_1_QB(QB, sea=2024, tm="WAS", name="Jayden Daniels")
QB[QB["team"] == "WAS"] #check

#Cowboys
QB[QB["team"] == "DAL"] 
QB = keep_1_QB(QB, sea=2019, tm="DAL", name="Dak Prescott")  
QB = keep_1_QB(QB, sea=2020, tm="DAL", name="Andy Dalton") 
QB = keep_1_QB(QB, sea=2021, tm="DAL", name="Dak Prescott")  
QB = keep_1_QB(QB, sea=2022, tm="DAL", name="Dak Prescott")  
QB = keep_1_QB(QB, sea=2023, tm="DAL", name="Dak Prescott")  
QB = keep_1_QB(QB, sea=2024, tm="DAL", name="Cooper Rush")
QB[QB["team"] == "DAL"] #check

#Giants
QB[QB["team"] == "NYG"] 
QB = keep_1_QB(QB, sea=2019, tm="NYG", name="Daniel Jones") 
QB = keep_1_QB(QB, sea=2020, tm="NYG", name="Daniel Jones") 
QB = keep_1_QB(QB, sea=2021, tm="NYG", name="Daniel Jones")  
QB = keep_1_QB(QB, sea=2022, tm="NYG", name="Daniel Jones")  
QB = keep_1_QB(QB, sea=2023, tm="NYG", name="Tommy DeVito")  
QB = keep_1_QB(QB, sea=2024, tm="NYG", name="Daniel Jones")
QB[QB["team"] == "NYG"] #check

#Buccaneers
QB[QB["team"] == "TB"]
QB = keep_1_QB(QB, sea=2019, tm="TB", name="Jameis Winston") 
QB = keep_1_QB(QB, sea=2020, tm="TB", name="Tom Brady") 
QB = keep_1_QB(QB, sea=2021, tm="TB", name="Tom Brady")  
QB = keep_1_QB(QB, sea=2022, tm="TB", name="Tom Brady")  
QB = keep_1_QB(QB, sea=2023, tm="TB", name="Baker Mayfield")  
QB = keep_1_QB(QB, sea=2024, tm="TB", name="Baker Mayfield")
QB[QB["team"] == "TB"] #check

#Falcons
QB[QB["team"] == "ATL"]
QB = keep_1_QB(QB, sea=2019, tm="ATL", name="Matt Ryan") 
QB = keep_1_QB(QB, sea=2020, tm="ATL", name="Matt Ryan") 
QB = keep_1_QB(QB, sea=2021, tm="ATL", name="Matt Ryan")  
QB = keep_1_QB(QB, sea=2022, tm="ATL", name="Marcus Mariota")  
QB = keep_1_QB(QB, sea=2023, tm="ATL", name="Desmond Ridder")  
QB = keep_1_QB(QB, sea=2024, tm="ATL", name="Kirk Cousins")
QB[QB["team"] == "ATL"] #check

#Panthers
QB[QB["team"] == "CAR"]
QB = keep_1_QB(QB, sea=2019, tm="CAR", name="Kyle Allen") 
QB = keep_1_QB(QB, sea=2020, tm="CAR", name="Teddy Bridgewater") 
QB = keep_1_QB(QB, sea=2021, tm="CAR", name="Sam Darnold")  
QB = keep_1_QB(QB, sea=2022, tm="CAR", name="Sam Darnold")  
QB = keep_1_QB(QB, sea=2023, tm="CAR", name="Bryce Young")  
QB = keep_1_QB(QB, sea=2024, tm="CAR", name="Bryce Young")
QB[QB["team"] == "CAR"] #check

#SAINTS
QB[QB["team"] == "NO"]
QB = keep_1_QB(QB, sea=2019, tm="NO", name="Drew Brees") 
QB = keep_1_QB(QB, sea=2020, tm="NO", name="Drew Brees") 
QB = keep_1_QB(QB, sea=2021, tm="NO", name="Trevor Siemian")  
QB = keep_1_QB(QB, sea=2022, tm="NO", name="Andy Dalton")  
QB = keep_1_QB(QB, sea=2023, tm="NO", name="Derek Carr")  
QB = keep_1_QB(QB, sea=2024, tm="NO", name="Derek Carr")
QB[QB["team"] == "NO"] #check

#Lions
QB[QB["team"] == "DET"]
QB = keep_1_QB(QB, sea=2019, tm="DET", name="Matthew Stafford") 
QB = keep_1_QB(QB, sea=2020, tm="DET", name="Matthew Stafford") 
QB = keep_1_QB(QB, sea=2021, tm="DET", name="Jared Goff")  
QB = keep_1_QB(QB, sea=2022, tm="DET", name="Jared Goff")  
QB = keep_1_QB(QB, sea=2023, tm="DET", name="Jared Goff")  
QB = keep_1_QB(QB, sea=2024, tm="DET", name="Jared Goff")
QB[QB["team"] == "DET"] #check

#Vikings
QB[QB["team"] == "MIN"]
QB = keep_1_QB(QB, sea=2019, tm="MIN", name="Kirk Cousins") 
QB = keep_1_QB(QB, sea=2020, tm="MIN", name="Kirk Cousins") 
QB = keep_1_QB(QB, sea=2021, tm="MIN", name="Kirk Cousins")  
QB = keep_1_QB(QB, sea=2022, tm="MIN", name="Kirk Cousins")  
QB = keep_1_QB(QB, sea=2023, tm="MIN", name="Kirk Cousins")  
QB = keep_1_QB(QB, sea=2024, tm="MIN", name="Sam Darnold")
QB[QB["team"] == "MIN"] #check

#Packers
QB[QB["team"] == "GB"]
QB = keep_1_QB(QB, sea=2019, tm="GB", name="Aaron Rodgers") 
QB = keep_1_QB(QB, sea=2020, tm="GB", name="Aaron Rodgers") 
QB = keep_1_QB(QB, sea=2021, tm="GB", name="Aaron Rodgers")  
QB = keep_1_QB(QB, sea=2022, tm="GB", name="Aaron Rodgers")  
QB = keep_1_QB(QB, sea=2023, tm="GB", name="Jordan Love")  
QB = keep_1_QB(QB, sea=2024, tm="GB", name="Jordan Love")
QB[QB["team"] == "GB"] #check

#Bears
QB[QB["team"] == "CHI"]
QB = keep_1_QB(QB, sea=2019, tm="CHI", name="Mitchell Trubisky") 
QB = keep_1_QB(QB, sea=2020, tm="CHI", name="Nick Foles") 
QB = keep_1_QB(QB, sea=2021, tm="CHI", name="Justin Fields")  
QB = keep_1_QB(QB, sea=2022, tm="CHI", name="Justin Fields")  
QB = keep_1_QB(QB, sea=2023, tm="CHI", name="Justin Fields")  
QB = keep_1_QB(QB, sea=2024, tm="CHI", name="Caleb Williams")
QB[QB["team"] == "CHI"] #check

#Rams
QB[QB["team"] == "LA"]
QB = keep_1_QB(QB, sea=2019, tm="LA", name="Jared Goff") 
QB = keep_1_QB(QB, sea=2020, tm="LA", name="Jared Goff") 
QB = keep_1_QB(QB, sea=2021, tm="LA", name="Matthew Stafford")  
QB = keep_1_QB(QB, sea=2022, tm="LA", name="Matthew Stafford")  
QB = keep_1_QB(QB, sea=2023, tm="LA", name="Matthew Stafford")  
QB = keep_1_QB(QB, sea=2024, tm="LA", name="Matthew Stafford")
QB[QB["team"] == "LA"] #check

#Seahawks
QB[QB["team"] == "SEA"]
QB = keep_1_QB(QB, sea=2019, tm="SEA", name="Russell Wilson") 
QB = keep_1_QB(QB, sea=2020, tm="SEA", name="Russell Wilson") 
QB = keep_1_QB(QB, sea=2021, tm="SEA", name="Russell Wilson")  
QB = keep_1_QB(QB, sea=2022, tm="SEA", name="Geno Smith")  
QB = keep_1_QB(QB, sea=2023, tm="SEA", name="Geno Smith")  
QB = keep_1_QB(QB, sea=2024, tm="SEA", name="Geno Smith")
QB[QB["team"] == "SEA"] #check

#Cardinals
QB[QB["team"] == "ARI"]
QB = keep_1_QB(QB, sea=2019, tm="ARI", name="Kyler Murray") 
QB = keep_1_QB(QB, sea=2020, tm="ARI", name="Kyler Murray") 
QB = keep_1_QB(QB, sea=2021, tm="ARI", name="Kyler Murray")  
QB = keep_1_QB(QB, sea=2022, tm="ARI", name="Kyler Murray")  
QB = keep_1_QB(QB, sea=2023, tm="ARI", name="Kyler Murray")  
QB = keep_1_QB(QB, sea=2024, tm="ARI", name="Kyler Murray")
QB[QB["team"] == "ARI"] #check

#Bills
QB[QB["team"] == "BUF"]
QB = keep_1_QB(QB, sea=2019, tm="BUF", name="Josh Allen") 
QB = keep_1_QB(QB, sea=2020, tm="BUF", name="Josh Allen") 
QB = keep_1_QB(QB, sea=2021, tm="BUF", name="Josh Allen")  
QB = keep_1_QB(QB, sea=2022, tm="BUF", name="Josh Allen")  
QB = keep_1_QB(QB, sea=2023, tm="BUF", name="Josh Allen")  
QB = keep_1_QB(QB, sea=2024, tm="BUF", name="Josh Allen")
QB[QB["team"] == "BUF"] #check

#Dolphins
QB[QB["team"] == "MIA"]
QB = keep_1_QB(QB, sea=2019, tm="MIA", name="Ryan Fitzpatrick") 
QB = keep_1_QB(QB, sea=2020, tm="MIA", name="Tua Tagovailoa") 
QB = keep_1_QB(QB, sea=2021, tm="MIA", name="Tua Tagovailoa")  
QB = keep_1_QB(QB, sea=2022, tm="MIA", name="Tua Tagovailoa")  
QB = keep_1_QB(QB, sea=2023, tm="MIA", name="Tua Tagovailoa")  
QB = keep_1_QB(QB, sea=2024, tm="MIA", name="Tua Tagovailoa")
QB[QB["team"] == "MIA"] #check

#Jets
QB[QB["team"] == "NYJ"]
QB = keep_1_QB(QB, sea=2019, tm="NYJ", name="Sam Darnold") 
QB = keep_1_QB(QB, sea=2020, tm="NYJ", name="Sam Darnold") 
QB = keep_1_QB(QB, sea=2021, tm="NYJ", name="Zach Wilson")  
QB = keep_1_QB(QB, sea=2022, tm="NYJ", name="Zach Wilson")  
QB = keep_1_QB(QB, sea=2023, tm="NYJ", name="Zach Wilson")  
QB = keep_1_QB(QB, sea=2024, tm="NYJ", name="Aaron Rodgers")
QB[QB["team"] == "NYJ"] #check

#49ers
QB[QB["team"] == "SF"]
QB = keep_1_QB(QB, sea=2019, tm="SF", name="Jimmy Garoppolo") 
QB = keep_1_QB(QB, sea=2020, tm="SF", name="Nick Mullens") 
QB = keep_1_QB(QB, sea=2021, tm="SF", name="Jimmy Garoppolo")  
QB = keep_1_QB(QB, sea=2022, tm="SF", name="Jimmy Garoppolo")  
QB = keep_1_QB(QB, sea=2023, tm="SF", name="Brock Purdy")  
QB = keep_1_QB(QB, sea=2024, tm="SF", name="Brock Purdy")
QB[QB["team"] == "SF"] #check

#Patriots
QB[QB["team"] == "NE"]
QB = keep_1_QB(QB, sea=2019, tm="NE", name="Tom Brady") 
QB = keep_1_QB(QB, sea=2020, tm="NE", name="Cam Newton") 
QB = keep_1_QB(QB, sea=2021, tm="NE", name="Mac Jones")  
QB = keep_1_QB(QB, sea=2022, tm="NE", name="Mac Jones")  
QB = keep_1_QB(QB, sea=2023, tm="NE", name="Mac Jones")  
QB = keep_1_QB(QB, sea=2024, tm="NE", name="Jameis Winston")
QB[QB["team"] == "NE"] #check

#Texans
QB[QB["team"] == "HOU"]
QB = keep_1_QB(QB, sea=2019, tm="HOU", name="Deshaun Watson") 
QB = keep_1_QB(QB, sea=2020, tm="HOU", name="Deshaun Watson") 
QB = keep_1_QB(QB, sea=2021, tm="HOU", name="Davis Mills")  
QB = keep_1_QB(QB, sea=2022, tm="HOU", name="Davis Mills")  
QB = keep_1_QB(QB, sea=2023, tm="HOU", name="C.J. Stroud")  
QB = keep_1_QB(QB, sea=2024, tm="HOU", name="C.J. Stroud")
QB[QB["team"] == "HOU"] #check

#Colts
QB[QB["team"] == "IND"]
QB = keep_1_QB(QB, sea=2019, tm="IND", name="Jacoby Brissett") 
QB = keep_1_QB(QB, sea=2020, tm="IND", name="Philip Rivers") 
QB = keep_1_QB(QB, sea=2021, tm="IND", name="Carson Wentz")  
QB = keep_1_QB(QB, sea=2022, tm="IND", name="Matt Ryan")  
QB = keep_1_QB(QB, sea=2023, tm="IND", name="Gardner Minshew")  
QB = keep_1_QB(QB, sea=2024, tm="IND", name="Anthony Richardson")
QB[QB["team"] == "IND"] #check

#Jaguars
QB[QB["team"] == "JAX"]
QB = keep_1_QB(QB, sea=2019, tm="JAX", name="Gardner Minshew") 
QB = keep_1_QB(QB, sea=2020, tm="JAX", name="Gardner Minshew") 
QB = keep_1_QB(QB, sea=2021, tm="JAX", name="Trevor Lawrence")  
QB = keep_1_QB(QB, sea=2022, tm="JAX", name="Trevor Lawrence")  
QB = keep_1_QB(QB, sea=2023, tm="JAX", name="Trevor Lawrence")  
QB = keep_1_QB(QB, sea=2024, tm="JAX", name="Trevor Lawrence")
QB[QB["team"] == "JAX"] #check

#Ravens
QB[QB["team"] == "BAL"]
QB = keep_1_QB(QB, sea=2019, tm="BAL", name="Lamar Jackson") 
QB = keep_1_QB(QB, sea=2020, tm="BAL", name="Lamar Jackson") 
QB = keep_1_QB(QB, sea=2021, tm="BAL", name="Lamar Jackson")  
QB = keep_1_QB(QB, sea=2022, tm="BAL", name="Lamar Jackson")  
QB = keep_1_QB(QB, sea=2023, tm="BAL", name="Lamar Jackson")  
QB = keep_1_QB(QB, sea=2024, tm="BAL", name="Lamar Jackson")
QB[QB["team"] == "BAL"] #check

#Titans
QB[QB["team"] == "TEN"]
QB = keep_1_QB(QB, sea=2019, tm="TEN", name="Ryan Tannehill") 
QB = keep_1_QB(QB, sea=2020, tm="TEN", name="Ryan Tannehill") 
QB = keep_1_QB(QB, sea=2021, tm="TEN", name="Ryan Tannehill")  
QB = keep_1_QB(QB, sea=2022, tm="TEN", name="Ryan Tannehill")  
QB = keep_1_QB(QB, sea=2023, tm="TEN", name="Will Levis")  
QB = keep_1_QB(QB, sea=2024, tm="TEN", name="Will Levis")
QB[QB["team"] == "TEN"] #check

#Browns
QB[QB["team"] == "CLE"]
QB = keep_1_QB(QB, sea=2019, tm="CLE", name="Baker Mayfield") 
QB = keep_1_QB(QB, sea=2020, tm="CLE", name="Baker Mayfield") 
QB = keep_1_QB(QB, sea=2021, tm="CLE", name="Baker Mayfield")  
QB = keep_1_QB(QB, sea=2022, tm="CLE", name="Jacoby Brissett")  
QB = keep_1_QB(QB, sea=2023, tm="CLE", name="Joe Flacco")  
QB = keep_1_QB(QB, sea=2024, tm="CLE", name="Jameis Winston")
QB[QB["team"] == "CLE"] #check

#Bengals
QB[QB["team"] == "CIN"]
QB = keep_1_QB(QB, sea=2019, tm="CIN", name="Andy Dalton") 
QB = keep_1_QB(QB, sea=2020, tm="CIN", name="Joe Burrow") 
QB = keep_1_QB(QB, sea=2021, tm="CIN", name="Joe Burrow")  
QB = keep_1_QB(QB, sea=2022, tm="CIN", name="Joe Burrow")  
QB = keep_1_QB(QB, sea=2023, tm="CIN", name="Joe Burrow")  
QB = keep_1_QB(QB, sea=2024, tm="CIN", name="Joe Burrow")
QB[QB["team"] == "CIN"] #check

#Steelers
QB[QB["team"] == "PIT"]
QB = keep_1_QB(QB, sea=2019, tm="PIT", name="Mason Rudolph") 
QB = keep_1_QB(QB, sea=2020, tm="PIT", name="Ben Roethlisberger") 
QB = keep_1_QB(QB, sea=2021, tm="PIT", name="Ben Roethlisberger")  
QB = keep_1_QB(QB, sea=2022, tm="PIT", name="Kenny Pickett")  
QB = keep_1_QB(QB, sea=2023, tm="PIT", name="Kenny Pickett")  
QB = keep_1_QB(QB, sea=2024, tm="PIT", name="Russell Wilson")
QB[QB["team"] == "PIT"] #check

#Chiefs
QB[QB["team"] == "KC"]
QB = keep_1_QB(QB, sea=2019, tm="KC", name="Patrick Mahomes") 
QB = keep_1_QB(QB, sea=2020, tm="KC", name="Patrick Mahomes") 
QB = keep_1_QB(QB, sea=2021, tm="KC", name="Patrick Mahomes")  
QB = keep_1_QB(QB, sea=2022, tm="KC", name="Patrick Mahomes")  
QB = keep_1_QB(QB, sea=2023, tm="KC", name="Patrick Mahomes")  
QB = keep_1_QB(QB, sea=2024, tm="KC", name="Patrick Mahomes")
QB[QB["team"] == "KC"] #check

#Chargers
QB[QB["team"] == "LAC"]
QB = keep_1_QB(QB, sea=2019, tm="LAC", name="Philip Rivers") 
QB = keep_1_QB(QB, sea=2020, tm="LAC", name="Justin Herbert") 
QB = keep_1_QB(QB, sea=2021, tm="LAC", name="Justin Herbert")  
QB = keep_1_QB(QB, sea=2022, tm="LAC", name="Justin Herbert")  
QB = keep_1_QB(QB, sea=2023, tm="LAC", name="Justin Herbert")  
QB = keep_1_QB(QB, sea=2024, tm="LAC", name="Justin Herbert")
QB[QB["team"] == "LAC"] #check

#Broncos
QB[QB["team"] == "DEN"]
QB = keep_1_QB(QB, sea=2019, tm="DEN", name="Joe Flacco") 
QB = keep_1_QB(QB, sea=2020, tm="DEN", name="Drew Lock") 
QB = keep_1_QB(QB, sea=2021, tm="DEN", name="Teddy Bridgewater")  
QB = keep_1_QB(QB, sea=2022, tm="DEN", name="Russell Wilson")  
QB = keep_1_QB(QB, sea=2023, tm="DEN", name="Russell Wilson")  
QB = keep_1_QB(QB, sea=2024, tm="DEN", name="Bo Nix")
QB[QB["team"] == "DEN"] #check

QB = QB.sort_values(by=["team", "season"])
QB

       season      player_name position team birth_date
2623     2019     Kyler Murray       QB  ARI 1997-08-07
5237     2020     Kyler Murray       QB  ARI 1997-08-07
7842     2021     Kyler Murray       QB  ARI 1997-08-07
10454    2022     Kyler Murray       QB  ARI 1997-08-07
13259    2023     Kyler Murray       QB  ARI 1997-08-07
...       ...              ...      ...  ...        ...
3132     2020       Alex Smith       QB  WAS 1984-05-07
6673     2021  Taylor Heinicke       QB  WAS 1993-03-15
9690     2022     Carson Wentz       QB  WAS 1992-12-30
14193    2023       Sam Howell       QB  WAS 2000-11-16
18539    2024   Jayden Daniels       QB  WAS 2000-12-18

[190 rows x 5 columns]

In [362]:
star_sign_QB =[]
for i in QB["birth_date"]: #find zodiac signs again including new birth dates
    zodiacs= get_zodiac_sign(i)
    star_sign_QB.append(zodiacs)

QB["zodiac_sign"] = star_sign_QB #put new signs into data set
QB.isna().sum() #check to make sure Lee Smith has no NA

season         0
player_name    0
position       0
team           0
birth_date     0
zodiac_sign    0
dtype: int64

In [363]:
QB

       season      player_name position team birth_date  zodiac_sign
2623     2019     Kyler Murray       QB  ARI 1997-08-07          Leo
5237     2020     Kyler Murray       QB  ARI 1997-08-07          Leo
7842     2021     Kyler Murray       QB  ARI 1997-08-07          Leo
10454    2022     Kyler Murray       QB  ARI 1997-08-07          Leo
13259    2023     Kyler Murray       QB  ARI 1997-08-07          Leo
...       ...              ...      ...  ...        ...          ...
3132     2020       Alex Smith       QB  WAS 1984-05-07       Taurus
6673     2021  Taylor Heinicke       QB  WAS 1993-03-15       Pisces
9690     2022     Carson Wentz       QB  WAS 1992-12-30    Capricorn
14193    2023       Sam Howell       QB  WAS 2000-11-16      Scorpio
18539    2024   Jayden Daniels       QB  WAS 2000-12-18  Sagittarius

[190 rows x 6 columns]

Combine calculated variables df and horscope df

In [365]:
wr_df

                 player position team birth_date  season  zodiac_sign
13     Larry Fitzgerald       WR  ARI 1983-08-31    2019        Virgo
45             Ted Ginn       WR   NO 1985-04-12    2019        Aries
64       Danny Amendola       WR  DET 1985-11-02    2019      Scorpio
70       DeSean Jackson       WR  PHI 1986-12-01    2019  Sagittarius
75       Matthew Slater       WR   NE 1985-09-09    2019        Virgo
...                 ...      ...  ...        ...     ...          ...
18543    Praise Olatoke       WR  CAR 2000-06-23    2024       Cancer
18544     Ladd McConkey       WR  LAC 2001-11-11    2024      Scorpio
18545    Ricky Pearsall       WR   SF 2000-09-09    2024        Virgo
18548       Rome Odunze       WR  CHI 2002-04-03    2024        Aries
18549    Malachi Corley       WR  NYJ 2002-03-21    2024        Aries

[2247 rows x 6 columns]

In [366]:
combined_WR = pd.merge(wr_df, WRs_all, on="player", how="outer")

In [367]:
combined_WR = combined_WR.drop("season_x", axis=1)

In [368]:
combined_WR = combined_WR.rename(columns={"season_y": "season"})

In [369]:
combined_WR= combined_WR.dropna(subset=["season"])
combined_WR=combined_WR[["season", "player", "tm", "pos", "birth_date", "zodiac_sign", "rec_share", "tgt_share", "td_share", "yds_share"]].sort_values(by=["season", "tm"])
    #keep only relevant columns
combined_WR

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
0,2019.0,Larry Fitzgerald,ARI,WR,1983-08-31,Virgo,35.211268,32.440476,40.000000,34.212766
2,2019.0,Larry Fitzgerald,ARI,WR,1983-08-31,Virgo,35.211268,32.440476,40.000000,34.212766
30,2019.0,Michael Crabtree,ARI,WR,1987-09-14,Virgo,1.877934,1.488095,0.000000,0.936170
841,2019.0,Damiere Byrd,ARI,WR,1993-01-27,Aquarius,15.023474,13.690476,10.000000,15.276596
846,2019.0,Damiere Byrd,ARI,WR,1993-01-27,Aquarius,15.023474,13.690476,10.000000,15.276596
...,...,...,...,...,...,...,...,...,...,...
4838,2024.0,Dyami Brown,WAS,WR,1999-11-01,Scorpio,12.422360,12.000000,9.090909,10.419828
4842,2024.0,Dyami Brown,WAS,WR,1999-11-01,Scorpio,12.422360,12.000000,9.090909,10.419828
5607,2024.0,Brycen Tremayne,WAS,WR,1999-11-18,Scorpio,0.621118,0.444444,0.000000,-0.101163
5608,2024.0,Brycen Tremayne,WAS,WR,1999-11-18,Scorpio,0.621118,0.444444,0.000000,-0.101163
5724,2024.0,Luke McCaffrey,WAS,WR,2001-04-02,Aries,9.937888,8.888889,0.000000,7.840162

In [370]:
pd.set_option('display.max_rows', 100)  # Show up to 100 rows
combined_WR.sort_values(by=["player"]).head(100)

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
5812,2022.0,AJ Brown,PHI,WR,NaT,NaN,38.095238,41.310541,50.000000,46.808511
5809,2019.0,AJ Brown,TEN,WR,NaT,NaN,34.899329,38.709677,47.058824,48.100686
5811,2021.0,AJ Brown,TEN,WR,NaT,NaN,34.239130,35.234899,38.461538,37.057569
5810,2020.0,AJ Brown,TEN,WR,NaT,NaN,36.458333,37.588652,55.000000,39.785344
5813,2023.0,AJ Brown,PHI,WR,NaT,NaN,46.696035,47.023810,35.000000,49.456522
5814,2024.0,AJ Brown,PHI,WR,NaT,NaN,38.260870,37.349398,40.000000,52.308707
5853,2020.0,AJ Green,CIN,WR,NaT,NaN,20.000000,26.598465,15.384615,19.263352
5855,2022.0,AJ Green,ARI,WR,NaT,NaN,9.338521,12.303665,18.181818,9.097918
5854,2021.0,AJ Green,ARI,WR,NaT,NaN,21.600000,25.626741,15.000000,27.595184
5893,2023.0,AT Perry,NO,WR,NaT,NaN,6.000000,5.625000,25.000000,9.262048
929,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
920,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
918,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
921,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
924,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
926,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
919,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
927,2019.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,24.832215,21.658986,11.764706,17.116705
925,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
928,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
922,2020.0,Adam Humphries,TEN,WR,1993-06-24,Cancer,11.979167,12.411348,10.000000,8.438194
923,2021.0,Adam Humphries,WAS,WR,1993-06-24,Cancer,18.061674,17.222222,0.000000,14.646272
221,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
227,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
210,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
215,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
212,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
218,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
224,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
209,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
216,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
229,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
230,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
236,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
242,2023.0,Adam Thielen,CAR,WR,1990-08-22,Leo,47.031963,39.825581,44.444444,45.026643
243,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
222,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
231,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
225,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
219,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
213,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
239,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
211,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
241,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
235,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
217,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
223,2022.0,Adam Thielen,MIN,WR,1990-08-22,Leo,25.454545,26.289926,28.571429,20.705610
237,2024.0,Adam Thielen,CAR,WR,1990-08-22,Leo,18.811881,16.666667,25.000000,22.419628
233,2020.0,Adam Thielen,MIN,WR,1990-08-22,Leo,37.755102,37.894737,60.869565,34.069982
232,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
238,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
240,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
226,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
234,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
228,2021.0,Adam Thielen,MIN,WR,1990-08-22,Leo,27.916667,26.027397,34.482759,22.823012
220,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
208,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
214,2019.0,Adam Thielen,MIN,WR,1990-08-22,Leo,21.897810,22.966507,37.500000,19.514472
5795,2024.0,Adonai Mitchell,IND,WR,2002-10-08,Libra,13.333333,17.045455,0.000000,12.037915
5777,2024.0,Ainias Smith,PHI,WR,2001-05-31,Gemini,2.608696,1.807229,0.000000,0.395778
412,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
410,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
414,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
417,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
416,2019.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,19.457014,16.986301,6.666667,12.513369
413,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
415,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
411,2021.0,Albert Wilson,MIA,WR,1992-07-12,Cancer,12.077295,11.963190,0.000000,9.491979
5335,2024.0,Alec Pierce,IND,WR,2000-05-02,Taurus,19.333333,20.454545,41.666667,30.568720
5332,2024.0,Alec Pierce,IND,WR,2000-05-02,Taurus,19.333333,20.454545,41.666667,30.568720
5337,2023.0,Alec Pierce,IND,WR,2000-05-02,Taurus,14.349776,18.895349,22.222222,19.961165
5334,2023.0,Alec Pierce,IND,WR,2000-05-02,Taurus,14.349776,18.895349,22.222222,19.961165
5331,2023.0,Alec Pierce,IND,WR,2000-05-02,Taurus,14.349776,18.895349,22.222222,19.961165
5330,2022.0,Alec Pierce,IND,WR,2000-05-02,Taurus,18.303571,22.413793,20.000000,24.194206
5333,2022.0,Alec Pierce,IND,WR,2000-05-02,Taurus,18.303571,22.413793,20.000000,24.194206
5336,2022.0,Alec Pierce,IND,WR,2000-05-02,Taurus,18.303571,22.413793,20.000000,24.194206
5338,2024.0,Alec Pierce,IND,WR,2000-05-02,Taurus,19.333333,20.454545,41.666667,30.568720
3703,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3705,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3706,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3701,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3704,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
3702,2024.0,Alex Bachman,LV,WR,1996-05-29,Gemini,2.564103,1.648352,0.000000,2.357414
1169,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1176,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1172,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1168,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1164,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1160,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1156,2019.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,20.187793,20.103093,0.000000,19.194485
1173,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1174,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1170,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1166,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1162,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1158,2021.0,Alex Erickson,CAR,WR,1992-11-06,Scorpio,1.538462,1.136364,0.000000,2.443359
1159,2023.0,Alex Erickson,LAC,WR,1992-11-06,Scorpio,6.374502,7.512953,6.666667,7.909990
1157,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1161,2020.0,Alex Erickson,CIN,WR,1992-11-06,Scorpio,5.106383,4.347826,0.000000,5.119705
1167,2023.0,Alex Erickson,LAC,WR,1992-11-06,Scorpio,6.374502,7.512953,6.666667,7.909990

In [371]:
combined_WR = combined_WR.drop_duplicates(subset="yds_share")
combined_WR.sort_values(by=["player"])

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
5811,2021.0,AJ Brown,TEN,WR,NaT,NaN,34.239130,35.234899,38.461538,37.057569
5812,2022.0,AJ Brown,PHI,WR,NaT,NaN,38.095238,41.310541,50.000000,46.808511
5813,2023.0,AJ Brown,PHI,WR,NaT,NaN,46.696035,47.023810,35.000000,49.456522
5810,2020.0,AJ Brown,TEN,WR,NaT,NaN,36.458333,37.588652,55.000000,39.785344
5814,2024.0,AJ Brown,PHI,WR,NaT,NaN,38.260870,37.349398,40.000000,52.308707
...,...,...,...,...,...,...,...,...,...,...
2010,2024.0,Zay Jones,ARI,WR,1995-03-30,Aries,0.961538,1.149425,0.000000,0.246305
2007,2021.0,Zay Jones,LV,WR,1995-03-30,Aries,22.596154,23.890785,6.666667,20.807927
2006,2020.0,Zay Jones,LV,WR,1995-03-30,Aries,9.032258,8.438819,7.142857,6.550404
2009,2023.0,Zay Jones,JAX,WR,1995-03-30,Aries,16.113744,18.338109,12.500000,12.336664
2008,2022.0,Zay Jones,JAX,WR,1995-03-30,Aries,34.453782,32.791328,26.315789,30.743369

In [372]:
combined_WR.isna().sum() #check for missing data

season          0
player          0
tm              0
pos             0
birth_date     87
zodiac_sign    87
rec_share       0
tgt_share       0
td_share        0
yds_share       0
dtype: int64

In [373]:
combined_WR = combined_WR .reset_index(drop=True) #reset index for clarity
combined_WR

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
0,2019.0,Larry Fitzgerald,ARI,WR,1983-08-31,Virgo,35.211268,32.440476,40.000000,34.212766
1,2019.0,Michael Crabtree,ARI,WR,1987-09-14,Virgo,1.877934,1.488095,0.000000,0.936170
2,2019.0,Damiere Byrd,ARI,WR,1993-01-27,Aquarius,15.023474,13.690476,10.000000,15.276596
3,2019.0,Trent Sherfield,ARI,WR,1996-02-26,Pisces,1.877934,3.869048,0.000000,3.404255
4,2019.0,Christian Kirk,ARI,WR,1996-11-18,Scorpio,31.924883,32.142857,30.000000,30.170213
...,...,...,...,...,...,...,...,...,...,...
1220,2024.0,Olamide Zaccheaus,WAS,WR,1997-07-23,Leo,16.770186,16.888889,0.000000,13.353566
1221,2024.0,Terry McLaurin,WAS,WR,1995-09-15,Virgo,37.888199,36.444444,81.818182,45.321194
1222,2024.0,Dyami Brown,WAS,WR,1999-11-01,Scorpio,12.422360,12.000000,9.090909,10.419828
1223,2024.0,Brycen Tremayne,WAS,WR,1999-11-18,Scorpio,0.621118,0.444444,0.000000,-0.101163
1224,2024.0,Luke McCaffrey,WAS,WR,2001-04-02,Aries,9.937888,8.888889,0.000000,7.840162

In [374]:
players_missing_bday = combined_WR[combined_WR["birth_date"].isna()]
players_missing_bday = players_missing_bday.drop_duplicates(subset="player") #remove names if they played multiple seasons
players_missing_bday["player"] #what players don't have birthdays

25                 Lee Smith
38            Jesper Horsted
52         Ricky Seals-Jones
70               JD McKissic
89                 TY Hilton
96                  CJ Board
119                JJ Nelson
137              NKeal Harry
143              Taysom Hill
151                 TJ Jones
152             DaMari Scott
162          Chosen Anderson
168      JJ Arcega-Whiteside
200                 AJ Brown
201           Delanie Walker
214                DJ Foster
256                 AJ Green
262         JaMarcus Bradley
286     Equanimeous St Brown
335            Malcolm Perry
355            TreQuan Smith
356       LilJordan Humphrey
411               Cam Batson
412              Geoff Swaim
454              CJ Saunders
468             JaMarr Chase
474          Demetric Felton
494         Amon-Ra St Brown
529             Jody Fortson
556                KJ Osborn
592            DJ Montgomery
608          DWayne Eskridge
686            Michael Woods
792         WanDale Robinson
984                 AT Perry
1042         Marvin Harrison
1121            Brian Thomas
1151            Grant Dubose
1162             JaLynn Polk
1217         JhaQuan Jackson
Name: player, dtype: object

In [375]:
combined_WR.iloc[25, 4]= "1987-11-21" #put birthday in
combined_WR[combined_WR["player"] == "Lee Smith"] #quick check

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
25,2019.0,Lee Smith,BUF,WR,1987-11-21,NaN,2.12766,1.618123,6.666667,1.306363

In [376]:
get_zodiac_sign("1987-11-21") #test function from above

'Scorpio'

In [377]:
# Function to get player zodiac signs
star_sign =[]
for i in combined_WR["birth_date"]: #find zodiac signs again including new birth dates
    zodiacs= get_zodiac_sign(i)
    star_sign.append(zodiacs)

combined_WR["zodiac_sign"] = star_sign #put new signs into data set
combined_WR.isna().sum() #check to make sure Lee Smith has no NA

season          0
player          0
tm              0
pos             0
birth_date     86
zodiac_sign    86
rec_share       0
tgt_share       0
td_share        0
yds_share       0
dtype: int64

In [378]:
combined_WR[combined_WR["player"] == "Lee Smith"] #quick check again

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
25,2019.0,Lee Smith,BUF,WR,1987-11-21,Scorpio,2.12766,1.618123,6.666667,1.306363

In [379]:
#put birthdays in, found from Professional Football Reference website 
combined_WR.iloc[25, 4] = "1987-11-21" #this is repeat from test
combined_WR.iloc[38, 4] = "1997-02-27"
combined_WR.iloc[52, 4] = "1995-03-15"
combined_WR.iloc[70, 4] = "1993-08-15"
combined_WR.iloc[89, 4] = "1989-11-14"
combined_WR.iloc[96, 4] = "1993-12-12"
combined_WR.iloc[119, 4] = "1992-04-24"
combined_WR.iloc[137, 4] = "1997-12-17"
combined_WR.iloc[143, 4] = "1990-08-23"
combined_WR.iloc[151, 4] = "1992-07-19"
combined_WR.iloc[152, 4] = "1995-08-08"
combined_WR.iloc[162, 4] = "1993-05-09"
combined_WR.iloc[168, 4] = "1996-12-31"
combined_WR.iloc[200, 4] = "1997-06-30"
combined_WR.iloc[201, 4] = "1984-08-12"
combined_WR.iloc[214, 4] = "1993-11-22"
combined_WR.iloc[256, 4] = "1988-07-31"
combined_WR.iloc[262, 4] = "1996-12-11"
combined_WR.iloc[286, 4] = "1996-09-20"
combined_WR.iloc[335, 4] = "1997-04-19"
combined_WR.iloc[355, 4] = "1996-01-07"
combined_WR.iloc[356, 4] = "1998-04-19"
combined_WR.iloc[411, 4] = "1995-12-20"
combined_WR.iloc[412, 4] = "1993-09-16"
combined_WR.iloc[454, 4] = "1996-09-15"
combined_WR.iloc[468, 4] = "2000-04-10"
combined_WR.iloc[474, 4] = "1998-07-16"
combined_WR.iloc[494, 4] = "1999-10-24"
combined_WR.iloc[529, 4] = "1995-12-07"
combined_WR.iloc[556, 4] = "1997-06-10"
combined_WR.iloc[592, 4] = "1996-11-17"
combined_WR.iloc[608, 4] = "1997-03-23"
combined_WR.iloc[686, 4] = "2000-03-19"
combined_WR.iloc[792, 4] = "2001-01-05"
combined_WR.iloc[984, 4] = "1999-10-26"
combined_WR.iloc[1042, 4] = "2002-08-11"
combined_WR.iloc[1121, 4] = "2002-10-08"
combined_WR.iloc[1151, 4] = "2001-06-20"
combined_WR.iloc[1162, 4] = "2002-04-11"
combined_WR.iloc[1217, 4] = "2000-05-15"

In [380]:
#do the for loop for the full set of new birthdays
star_sign =[] 
for i in combined_WR["birth_date"]: #find zodiac signs again including new birth dates
    zodiacs= get_zodiac_sign(i)
    star_sign.append(zodiacs)

combined_WR["zodiac_sign"] = star_sign #put new signs into data set
combined_WR.isna().sum() #check to make sure no NA

season          0
player          0
tm              0
pos             0
birth_date     47
zodiac_sign    47
rec_share       0
tgt_share       0
td_share        0
yds_share       0
dtype: int64

In [381]:
combined_WR[combined_WR["player"] == "JaMarr Chase"] #quick check again, looks like it didnt put teh birthdates in all columns of the same player

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
468,2021.0,JaMarr Chase,CIN,WR,2000-04-10,Aries,34.322034,35.654596,52.000000,40.974373
680,2022.0,JaMarr Chase,CIN,WR,NaT,None,35.950413,36.314363,36.000000,33.017677
883,2023.0,JaMarr Chase,CIN,WR,NaT,None,38.910506,37.467700,36.842105,40.039513
1073,2024.0,JaMarr Chase,CIN,WR,NaT,None,51.298701,44.489796,56.521739,53.240093

In [382]:
players_missing_bday_2 = combined_WR[combined_WR["birth_date"].isna()]
players_missing_bday_2["player"] #what players don't have birthdays

241          Chosen Anderson
301                TY Hilton
346              NKeal Harry
362                 CJ Board
381      JJ Arcega-Whiteside
410                 AJ Brown
426                 AJ Green
453          Chosen Anderson
460           Jesper Horsted
473         JaMarcus Bradley
502     Equanimeous St Brown
516                TY Hilton
562              NKeal Harry
571            TreQuan Smith
572       LilJordan Humphrey
582                 CJ Board
597      JJ Arcega-Whiteside
629                 AJ Brown
630               Cam Batson
638              JD McKissic
645                 AJ Green
673              NKeal Harry
674     Equanimeous St Brown
680             JaMarr Chase
694                TY Hilton
710         Amon-Ra St Brown
769                KJ Osborn
776       LilJordan Humphrey
785            TreQuan Smith
802                 AJ Brown
816          DWayne Eskridge
836                 CJ Board
876     Equanimeous St Brown
883             JaMarr Chase
899       LilJordan Humphrey
905         Amon-Ra St Brown
924            DJ Montgomery
971                KJ Osborn
990         WanDale Robinson
1002                AJ Brown
1073            JaMarr Chase
1081           Michael Woods
1097        Amon-Ra St Brown
1150         DWayne Eskridge
1161               KJ Osborn
1174        WanDale Robinson
1185                AJ Brown
Name: player, dtype: object

In [383]:
combined_WR.iloc[241, 4] = "1993-05-09"      # Chosen Anderson
combined_WR.iloc[301, 4] = "1989-11-14"      # TY Hilton
combined_WR.iloc[346, 4] = "1997-12-17"      # NKeal Harry
combined_WR.iloc[362, 4] = "1993-12-12"      # CJ Board
combined_WR.iloc[381, 4] = "1996-12-31"      # JJ Arcega-Whiteside
combined_WR.iloc[410, 4] = "1997-06-30"      # AJ Brown
combined_WR.iloc[426, 4] = "1988-07-31"      # AJ Green
combined_WR.iloc[453, 4] = "1993-05-09"      # Chosen Anderson
combined_WR.iloc[460, 4] = "1997-02-27"      # Jesper Horsted
combined_WR.iloc[473, 4] = "1996-12-11"      # JaMarcus Bradley
combined_WR.iloc[502, 4] = "1996-09-20"      # Equanimeous St Brown
combined_WR.iloc[516, 4] = "1989-11-14"      # TY Hilton
combined_WR.iloc[562, 4] = "1997-12-17"      # NKeal Harry
combined_WR.iloc[571, 4] = "1996-01-07"      # TreQuan Smith
combined_WR.iloc[572, 4] = "1998-04-19"      # LilJordan Humphrey
combined_WR.iloc[582, 4] = "1993-12-12"      # CJ Board
combined_WR.iloc[597, 4] = "1996-12-31"      # JJ Arcega-Whiteside
combined_WR.iloc[629, 4] = "1997-06-30"      # AJ Brown
combined_WR.iloc[630, 4] = "1995-12-20"      # Cam Batson
combined_WR.iloc[638, 4] = "1993-08-15"      # JD McKissic
combined_WR.iloc[645, 4] = "1988-07-31"      # AJ Green
combined_WR.iloc[673, 4] = "1997-12-17"      # NKeal Harry
combined_WR.iloc[674, 4] = "1996-09-20"      # Equanimeous St Brown
combined_WR.iloc[680, 4] = "2000-04-10"      # JaMarr Chase
combined_WR.iloc[694, 4] = "1989-11-14"      # TY Hilton
combined_WR.iloc[710, 4] = "1999-10-24"      # Amon-Ra St Brown
combined_WR.iloc[769, 4] = "1997-06-10"      # KJ Osborn
combined_WR.iloc[776, 4] = "1998-04-19"      # LilJordan Humphrey
combined_WR.iloc[785, 4] = "1996-01-07"      # TreQuan Smith
combined_WR.iloc[802, 4] = "1997-06-30"      # AJ Brown
combined_WR.iloc[816, 4] = "1997-03-23"      # DWayne Eskridge
combined_WR.iloc[836, 4] = "1993-12-12"      # CJ Board
combined_WR.iloc[876, 4] = "1996-09-20"      # Equanimeous St Brown
combined_WR.iloc[883, 4] = "2000-04-10"      # JaMarr Chase
combined_WR.iloc[899, 4] = "1998-04-19"      # LilJordan Humphrey
combined_WR.iloc[905, 4] = "1999-10-24"      # Amon-Ra St Brown
combined_WR.iloc[924, 4] = "1996-11-17"      # DJ Montgomery
combined_WR.iloc[971, 4] = "1997-06-10"      # KJ Osborn
combined_WR.iloc[990, 4] = "2001-01-05"      # WanDale Robinson
combined_WR.iloc[1002, 4] = "1997-06-30"     # AJ Brown
combined_WR.iloc[1073, 4] = "2000-04-10"     # JaMarr Chase
combined_WR.iloc[1081, 4] = "2000-03-19"     # Michael Woods
combined_WR.iloc[1097, 4] = "1999-10-24"     # Amon-Ra St Brown
combined_WR.iloc[1150, 4] = "1997-03-23"     # DWayne Eskridge
combined_WR.iloc[1161, 4] = "1997-06-10"     # KJ Osborn
combined_WR.iloc[1174, 4] = "2001-01-05"     # WanDale Robinson
combined_WR.iloc[1185, 4] = "1997-06-30"     # AJ Brown

In [384]:
#do the for loop ANOTHER time
star_sign =[] 
for i in combined_WR["birth_date"]: #find zodiac signs again including new birth dates
    zodiacs= get_zodiac_sign(i)
    star_sign.append(zodiacs)

combined_WR["zodiac_sign"] = star_sign #put new signs into data set
combined_WR.isna().sum() #check to make sure no NA, yay!!!!

season         0
player         0
tm             0
pos            0
birth_date     0
zodiac_sign    0
rec_share      0
tgt_share      0
td_share       0
yds_share      0
dtype: int64

## I am combining the QB and WR data

In [386]:
QB

       season      player_name position team birth_date  zodiac_sign
2623     2019     Kyler Murray       QB  ARI 1997-08-07          Leo
5237     2020     Kyler Murray       QB  ARI 1997-08-07          Leo
7842     2021     Kyler Murray       QB  ARI 1997-08-07          Leo
10454    2022     Kyler Murray       QB  ARI 1997-08-07          Leo
13259    2023     Kyler Murray       QB  ARI 1997-08-07          Leo
...       ...              ...      ...  ...        ...          ...
3132     2020       Alex Smith       QB  WAS 1984-05-07       Taurus
6673     2021  Taylor Heinicke       QB  WAS 1993-03-15       Pisces
9690     2022     Carson Wentz       QB  WAS 1992-12-30    Capricorn
14193    2023       Sam Howell       QB  WAS 2000-11-16      Scorpio
18539    2024   Jayden Daniels       QB  WAS 2000-12-18  Sagittarius

[190 rows x 6 columns]

In [387]:
combined_WR.isna().sum()

season         0
player         0
tm             0
pos            0
birth_date     0
zodiac_sign    0
rec_share      0
tgt_share      0
td_share       0
yds_share      0
dtype: int64

In [388]:
QB= QB.rename(columns = {"player_name": "player"})
QB = QB.rename(columns = {"position": "pos"})
QB = QB.rename(columns = {"team": "tm"})

In [389]:
QB

       season           player pos   tm birth_date  zodiac_sign
2623     2019     Kyler Murray  QB  ARI 1997-08-07          Leo
5237     2020     Kyler Murray  QB  ARI 1997-08-07          Leo
7842     2021     Kyler Murray  QB  ARI 1997-08-07          Leo
10454    2022     Kyler Murray  QB  ARI 1997-08-07          Leo
13259    2023     Kyler Murray  QB  ARI 1997-08-07          Leo
...       ...              ...  ..  ...        ...          ...
3132     2020       Alex Smith  QB  WAS 1984-05-07       Taurus
6673     2021  Taylor Heinicke  QB  WAS 1993-03-15       Pisces
9690     2022     Carson Wentz  QB  WAS 1992-12-30    Capricorn
14193    2023       Sam Howell  QB  WAS 2000-11-16      Scorpio
18539    2024   Jayden Daniels  QB  WAS 2000-12-18  Sagittarius

[190 rows x 6 columns]

In [390]:
combined_df = pd.concat([combined_WR, QB], ignore_index=True) # trial 1 of combining

In [391]:
combined_df[combined_df["season"]== 2024] #QB doesn't correspond to WR though

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
1039,2024.0,Zay Jones,ARI,WR,1995-03-30,Aries,0.961538,1.149425,0.000000,0.246305
1040,2024.0,Greg Dortch,ARI,WR,1998-05-29,Gemini,24.038462,21.839080,9.090909,15.845649
1041,2024.0,Michael Wilson,ARI,WR,2000-02-23,Pisces,35.576923,31.609195,27.272727,34.154351
1042,2024.0,Marvin Harrison,ARI,WR,2002-08-11,Leo,39.423077,44.827586,63.636364,49.753695
1043,2024.0,Ray-Ray McCloud,ATL,WR,1996-10-15,Libra,26.162791,23.282443,7.692308,22.505910
...,...,...,...,...,...,...,...,...,...,...
1390,2024.0,Geno Smith,SEA,QB,1990-10-10,Libra,NaN,NaN,NaN,NaN
1396,2024.0,Brock Purdy,SF,QB,1999-12-27,Capricorn,NaN,NaN,NaN,NaN
1402,2024.0,Baker Mayfield,TB,QB,1995-04-14,Aries,NaN,NaN,NaN,NaN
1408,2024.0,Will Levis,TEN,QB,1999-06-27,Cancer,NaN,NaN,NaN,NaN
1414,2024.0,Jayden Daniels,WAS,QB,2000-12-18,Sagittarius,NaN,NaN,NaN,NaN

In [392]:
combined_df.isna().sum() # double check we have no missing data
# makes sense because 190 QBs don't have statistics

season           0
player           0
tm               0
pos              0
birth_date       0
zodiac_sign      0
rec_share      190
tgt_share      190
td_share       190
yds_share      190
dtype: int64

In [393]:
combined_df_2= combined_df.sort_values(by= ["tm", "season"]) # try organizing it and see if we can work with it
combined_df_2[(combined_df_2["tm"] == "WAS") & (combined_df_2["season"] == 2024)] # looks clear but still don't have zoiac pairings very clear

,season,player,tm,pos,birth_date,zodiac_sign,rec_share,tgt_share,td_share,yds_share
1218,2024.0,Jamison Crowder,WAS,WR,1993-06-17,Gemini,0.621118,0.444444,0.000000,0.252908
1219,2024.0,Noah Brown,WAS,WR,1996-01-06,Capricorn,21.739130,24.888889,9.090909,22.913505
1220,2024.0,Olamide Zaccheaus,WAS,WR,1997-07-23,Leo,16.770186,16.888889,0.000000,13.353566
1221,2024.0,Terry McLaurin,WAS,WR,1995-09-15,Virgo,37.888199,36.444444,81.818182,45.321194
1222,2024.0,Dyami Brown,WAS,WR,1999-11-01,Scorpio,12.422360,12.000000,9.090909,10.419828
1223,2024.0,Brycen Tremayne,WAS,WR,1999-11-18,Scorpio,0.621118,0.444444,0.000000,-0.101163
1224,2024.0,Luke McCaffrey,WAS,WR,2001-04-02,Aries,9.937888,8.888889,0.000000,7.840162
1414,2024.0,Jayden Daniels,WAS,QB,2000-12-18,Sagittarius,NaN,NaN,NaN,NaN

In [464]:
combined_df_4 = pd.merge( #combine QB and WR data frames by column instead 
    combined_WR,
    QB,
    on=["tm", "season"],  #match QB to its corresponding WR based on tm and season
    how="inner"  #keeps only matching team-season pairs
)

In [496]:
combined_df_4[(combined_df_4["tm"] == "CLE") & (combined_df_2["season"] == 2023)] #test, player x is wide WR and player y is QB

/var/folders/bv/rvkdn5p94jv8ktnpc_xz2b700000gn/T/ipykernel_53342/993209736.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  combined_df_4[(combined_df_4["tm"] == "CLE") & (combined_df_2["season"] == 2023)]

,season,player_x,tm,pos_x,birth_date_x,zodiac_sign_x,rec_share,tgt_share,td_share,yds_share,player_y,pos_y,birth_date_y,zodiac_sign_y
877,2023.0,Marquise Goodwin,CLE,WR,1990-11-19,Scorpio,2.352941,4.100946,0.0,2.853492,Joe Flacco,QB,1985-01-16,Capricorn
878,2023.0,Amari Cooper,CLE,WR,1994-06-17,Gemini,42.352941,40.378549,50.0,53.236797,Joe Flacco,QB,1985-01-16,Capricorn
879,2023.0,Elijah Moore,CLE,WR,2000-03-27,Aries,34.705882,32.807571,20.0,27.257240,Joe Flacco,QB,1985-01-16,Capricorn
880,2023.0,David Bell,CLE,WR,2000-12-14,Sagittarius,8.235294,7.255521,30.0,7.112436,Joe Flacco,QB,1985-01-16,Capricorn
881,2023.0,Cedric Tillman,CLE,WR,2000-04-19,Aries,12.352941,13.880126,0.0,9.540034,Joe Flacco,QB,1985-01-16,Capricorn

In [512]:
filtered_df = combined_df_4[
        (combined_df_4["zodiac_sign_x"] == "Pisces") & #filter for sign combo
        (combined_df_4["zodiac_sign_y"] == "Capricorn")
    ]
filtered_df #check to make sure it works and there is 5+ of each of 144 groups

,season,player_x,tm,pos_x,birth_date_x,zodiac_sign_x,rec_share,tgt_share,td_share,yds_share,player_y,pos_y,birth_date_y,zodiac_sign_y
14,2019.0,Seth Roberts,BAL,WR,1991-02-22,Pisces,18.260870,19.230769,11.764706,19.097956,Lamar Jackson,QB,1997-01-07,Capricorn
16,2019.0,Jaleel Scott,BAL,WR,1995-02-23,Pisces,0.869565,1.648352,0.000000,0.422833,Lamar Jackson,QB,1997-01-07,Capricorn
60,2019.0,Diontae Spencer,DEN,WR,1992-03-19,Pisces,4.838710,3.669725,0.000000,1.846337,Joe Flacco,QB,1985-01-16,Capricorn
64,2019.0,DaeSean Hamilton,DEN,WR,1995-03-10,Pisces,22.580645,23.853211,14.285714,17.689101,Joe Flacco,QB,1985-01-16,Capricorn
132,2019.0,Michael Thomas,NO,WR,1993-03-03,Pisces,66.517857,61.461794,40.909091,65.069785,Drew Brees,QB,1979-01-15,Capricorn
183,2019.0,Chris Godwin,TB,WR,1996-02-27,Pisces,38.565022,32.180851,34.615385,37.380819,Jameis Winston,QB,1994-01-06,Capricorn
340,2020.0,Emmanuel Sanders,NO,WR,1987-03-17,Pisces,31.770833,30.036630,41.666667,33.518006,Drew Brees,QB,1979-01-15,Capricorn
342,2020.0,Michael Thomas,NO,WR,1993-03-03,Pisces,20.833333,20.146520,0.000000,20.221607,Drew Brees,QB,1979-01-15,Capricorn
1011,2023.0,Brandon Aiyuk,SF,WR,1998-03-17,Pisces,42.372881,39.772727,38.888889,48.186715,Brock Purdy,QB,1999-12-27,Capricorn
1074,2024.0,Michael Woods,CLE,WR,2000-03-19,Pisces,2.083333,2.164502,0.000000,2.433503,Jameis Winston,QB,1994-01-06,Capricorn
1183,2024.0,Brandon Aiyuk,SF,WR,1998-03-17,Pisces,19.379845,22.169811,0.000000,20.812465,Brock Purdy,QB,1999-12-27,Capricorn

>Note: lots of 0s on td_share that can affect future analysis

In [535]:
def get_means(df, sign_x, sign_y): #function to average all of our variables for each horscope combo
    filtered_df = df[
        (df["zodiac_sign_x"] == sign_x) & #filter for sign combo
        (df["zodiac_sign_y"] == sign_y)
    ]
    numb_instances = len(filtered_df)
    zodiac_combo = f"{sign_x}-{sign_y}" #prepare to create column that lists zodiac combo
    WR_sign = f"{sign_x}"
    QB_sign = f"{sign_y}"
    
    rec_share_mean = filtered_df["rec_share"].mean() #average all variables within each pairing
    td_share_mean = filtered_df["td_share"].mean()
    tgt_share_mean = filtered_df["tgt_share"].mean()
    yds_share_mean = filtered_df["yds_share"].mean()
    
    return pd.DataFrame({
        "zodiac_combo": [zodiac_combo],  #create new data frame of this data
        "wr_sign": [WR_sign],
        "qb_sign": [QB_sign],
        "instances_number": [numb_instances],
        "rec_share_mean": [rec_share_mean],
        "td_share_mean": [td_share_mean],
        "tgt_share_mean": [tgt_share_mean],
        "yds_share_mean": [yds_share_mean]
    })

In [537]:
zodiac_signs = [
    "Aries", "Taurus", "Gemini", "Cancer", "Leo", "Virgo",
    "Libra", "Scorpio", "Sagittarius", "Capricorn", "Aquarius", "Pisces"
]

zodiac_results = [] #empty list

for sign_x in zodiac_signs: #loop through zodiac pairs to run function for all possible pairs 
    for sign_y in zodiac_signs:
        result = get_means(combined_df_4, sign_x, sign_y)
        zodiac_results.append(result)

zodiac_final = pd.concat(zodiac_results, ignore_index=True) #Combine all results into one DataFrame
zodiac_final #yay final df that we can use for data analysis

,zodiac_combo,wr_sign,qb_sign,instances_number,rec_share_mean,td_share_mean,tgt_share_mean,yds_share_mean
0,Aries-Aries,Aries,Aries,6,11.285283,6.884921,11.606163,10.411869
1,Aries-Taurus,Aries,Taurus,5,4.237026,2.500000,4.019018,3.404926
2,Aries-Gemini,Aries,Gemini,16,15.853341,15.663555,15.807773,16.054919
3,Aries-Cancer,Aries,Cancer,5,10.356397,20.545455,10.716710,10.747857
4,Aries-Leo,Aries,Leo,14,21.359999,22.533120,21.073266,21.386668
5,Aries-Virgo,Aries,Virgo,9,10.535504,12.899600,11.312689,12.327870
6,Aries-Libra,Aries,Libra,19,12.792514,11.947746,13.250410,12.260751
7,Aries-Scorpio,Aries,Scorpio,16,16.976906,15.470540,17.252099,16.865222
8,Aries-Sagittarius,Aries,Sagittarius,12,20.708910,24.382172,20.453977,20.654782
9,Aries-Capricorn,Aries,Capricorn,11,17.055183,16.281956,17.498641,15.869871
10,Aries-Aquarius,Aries,Aquarius,8,9.537957,9.746775,9.783429,8.947918
11,Aries-Pisces,Aries,Pisces,13,14.074421,19.546565,13.734776,15.288545
12,Taurus-Aries,Taurus,Aries,2,5.225485,2.380952,6.798123,4.481418
13,Taurus-Taurus,Taurus,Taurus,6,12.593903,15.721248,13.982316,15.061266
14,Taurus-Gemini,Taurus,Gemini,13,15.340017,17.996875,16.281579,16.324598
15,Taurus-Cancer,Taurus,Cancer,2,1.941748,0.000000,1.648352,2.203857
16,Taurus-Leo,Taurus,Leo,7,6.589938,1.020408,7.479346,7.032433
17,Taurus-Virgo,Taurus,Virgo,8,15.585184,20.245380,15.441827,15.996870
18,Taurus-Libra,Taurus,Libra,3,2.732637,0.000000,2.727784,2.026460
19,Taurus-Scorpio,Taurus,Scorpio,12,18.879353,16.839025,19.068095,19.464740
20,Taurus-Sagittarius,Taurus,Sagittarius,8,20.054236,22.986111,18.646094,19.424927
21,Taurus-Capricorn,Taurus,Capricorn,8,7.665881,8.586310,8.269833,9.333162
22,Taurus-Aquarius,Taurus,Aquarius,0,NaN,NaN,NaN,NaN
23,Taurus-Pisces,Taurus,Pisces,9,19.420945,17.662657,18.400297,17.053986
24,Gemini-Aries,Gemini,Aries,1,30.967742,57.142857,34.599156,38.111442
25,Gemini-Taurus,Gemini,Taurus,6,4.880832,1.587302,5.456469,4.580065
26,Gemini-Gemini,Gemini,Gemini,14,12.960233,10.447885,12.539916,12.404767
27,Gemini-Cancer,Gemini,Cancer,3,23.628692,23.333333,23.774510,24.491600
28,Gemini-Leo,Gemini,Leo,34,21.451591,17.964423,20.902096,21.107640
29,Gemini-Virgo,Gemini,Virgo,5,25.284426,22.123810,26.482599,23.031246
30,Gemini-Libra,Gemini,Libra,9,15.611478,15.784832,14.661824,14.979629
31,Gemini-Scorpio,Gemini,Scorpio,5,15.999812,15.607221,16.253870,15.201045
32,Gemini-Sagittarius,Gemini,Sagittarius,4,12.772698,18.750000,13.733631,13.539485
33,Gemini-Capricorn,Gemini,Capricorn,13,19.503940,22.314367,20.397120,20.425277
34,Gemini-Aquarius,Gemini,Aquarius,6,34.914301,35.448718,32.563996,34.301911
35,Gemini-Pisces,Gemini,Pisces,5,6.461696,7.218501,7.597651,7.900723
36,Cancer-Aries,Cancer,Aries,3,29.836463,23.379630,27.004691,28.388231
37,Cancer-Taurus,Cancer,Taurus,1,28.125000,30.000000,26.149425,25.418197
38,Cancer-Gemini,Cancer,Gemini,4,30.599309,23.977273,30.307455,28.134061
39,Cancer-Cancer,Cancer,Cancer,0,NaN,NaN,NaN,NaN
40,Cancer-Leo,Cancer,Leo,18,24.064095,26.001179,24.003106,25.157023
41,Cancer-Virgo,Cancer,Virgo,0,NaN,NaN,NaN,NaN
42,Cancer-Libra,Cancer,Libra,5,3.892898,2.000000,3.834748,3.147494
43,Cancer-Scorpio,Cancer,Scorpio,6,15.620311,15.417834,16.180514,15.247556
44,Cancer-Sagittarius,Cancer,Sagittarius,12,10.148801,5.732323,9.950440,9.083842
45,Cancer-Capricorn,Cancer,Capricorn,7,16.016827,19.383347,14.526938,13.614689
46,Cancer-Aquarius,Cancer,Aquarius,6,4.988040,0.833333,5.172412,4.127016
47,Cancer-Pisces,Cancer,Pisces,9,16.984986,15.185185,17.255877,17.876766
48,Leo-Aries,Leo,Aries,3,29.233800,43.657407,29.981712,33.633700
49,Leo-Taurus,Leo,Taurus,7,8.803254,9.569161,9.168529,9.864795
50,Leo-Gemini,Leo,Gemini,8,13.152055,12.291667,13.564059,11.768815
51,Leo-Cancer,Leo,Cancer,0,NaN,NaN,NaN,NaN
52,Leo-Leo,Leo,Leo,26,17.794618,22.637606,18.435080,18.358135
53,Leo-Virgo,Leo,Virgo,9,19.550031,28.367003,18.620401,19.009842
54,Leo-Libra,Leo,Libra,10,10.158064,7.411217,9.793464,10.264416
55,Leo-Scorpio,Leo,Scorpio,7,26.459561,26.700680,24.932603,24.019037
56,Leo-Sagittarius,Leo,Sagittarius,16,9.325914,7.882949,10.165802,9.143795
57,Leo-Capricorn,Leo,Capricorn,5,14.190968,12.383603,14.048238,13.012751
58,Leo-Aquarius,Leo,Aquarius,3,15.207902,16.833891,16.241202,15.394228
59,Leo-Pisces,Leo,Pisces,3,16.719111,25.555556,16.219783,14.405578
60,Virgo-Aries,Virgo,Aries,5,18.332317,24.503968,19.977117,21.186991
61,Virgo-Taurus,Virgo,Taurus,4,12.718612,14.880952,13.268896,13.199929
62,Virgo-Gemini,Virgo,Gemini,8,12.134777,13.680556,11.680835,10.889987
63,Virgo-Cancer,Virgo,Cancer,1,0.632911,0.000000,0.367647,0.265252
64,Virgo-Leo,Virgo,Leo,16,10.029186,8.674048,9.788752,9.147035
65,Virgo-Virgo,Virgo,Virgo,7,13.185276,7.482327,13.368830,11.985255
66,Virgo-Libra,Virgo,Libra,2,1.964244,0.000000,2.949029,0.877127
67,Virgo-Scorpio,Virgo,Scorpio,5,11.917727,10.714286,11.711924,14.215017
68,Virgo-Sagittarius,Virgo,Sagittarius,8,6.656116,10.658307,7.193030,7.373219
69,Virgo-Capricorn,Virgo,Capricorn,19,16.678065,16.059315,16.071478,15.803428
70,Virgo-Aquarius,Virgo,Aquarius,10,14.014081,20.192308,14.208898,15.493499
71,Virgo-Pisces,Virgo,Pisces,14,15.355426,16.453824,15.965853,15.733187
72,Libra-Aries,Libra,Aries,5,12.366860,10.138889,13.094292,10.863688
73,Libra-Taurus,Libra,Taurus,6,30.549142,31.617934,29.223034,29.248299
74,Libra-Gemini,Libra,Gemini,10,11.814914,6.075758,11.522078,10.621524
75,Libra-Cancer,Libra,Cancer,0,NaN,NaN,NaN,NaN
76,Libra-Leo,Libra,Leo,14,12.662946,12.773562,13.152651,12.710616
77,Libra-Virgo,Libra,Virgo,3,22.701767,17.715618,26.150535,25.386652
78,Libra-Libra,Libra,Libra,12,23.555049,24.574671,23.034523,23.980832
79,Libra-Scorpio,Libra,Scorpio,4,12.603283,12.500000,13.708634,13.264579
80,Libra-Sagittarius,Libra,Sagittarius,13,23.955751,23.214026,24.460436,25.173134
81,Libra-Capricorn,Libra,Capricorn,11,17.791420,19.222689,16.951676,18.521184
82,Libra-Aquarius,Libra,Aquarius,5,13.810778,7.615385,14.313612,14.619399
83,Libra-Pisces,Libra,Pisces,12,15.273242,12.373122,15.507742,15.086014
84,Scorpio-Aries,Scorpio,Aries,8,12.470788,14.851190,12.877608,13.061532
85,Scorpio-Taurus,Scorpio,Taurus,9,17.687259,10.786225,17.157253,17.563137
86,Scorpio-Gemini,Scorpio,Gemini,9,7.174803,6.217733,7.789671,6.904673
87,Scorpio-Cancer,Scorpio,Cancer,1,31.067961,0.000000,23.626374,21.349862
88,Scorpio-Leo,Scorpio,Leo,23,15.113981,15.024678,14.897173,15.743489
89,Scorpio-Virgo,Scorpio,Virgo,6,23.233901,22.100048,21.972686,22.057096
90,Scorpio-Libra,Scorpio,Libra,14,26.221308,28.119644,25.142282,25.494620
91,Scorpio-Scorpio,Scorpio,Scorpio,9,11.621774,11.051458,11.859180,10.754423
92,Scorpio-Sagittarius,Scorpio,Sagittarius,15,14.888031,12.167178,13.932274,13.423185
93,Scorpio-Capricorn,Scorpio,Capricorn,9,5.175752,7.679772,6.469314,6.261802
94,Scorpio-Aquarius,Scorpio,Aquarius,5,23.403494,19.665552,24.236205,24.458598
95,Scorpio-Pisces,Scorpio,Pisces,19,13.613350,11.756430,14.061364,13.212096
96,Sagittarius-Aries,Sagittarius,Aries,9,26.740839,19.420194,24.986473,22.535971
97,Sagittarius-Taurus,Sagittarius,Taurus,8,14.014690,23.343254,14.278577,13.711561
98,Sagittarius-Gemini,Sagittarius,Gemini,11,20.654610,19.500041,19.666661,19.921385
99,Sagittarius-Cancer,Sagittarius,Cancer,1,41.747573,27.272727,47.802198,46.763085
100,Sagittarius-Leo,Sagittarius,Leo,15,6.452338,6.738317,6.666446,6.670482
101,Sagittarius-Virgo,Sagittarius,Virgo,9,13.822671,7.651515,12.657602,13.203611
102,Sagittarius-Libra,Sagittarius,Libra,7,25.189047,26.716792,26.317715,27.352840
103,Sagittarius-Scorpio,Sagittarius,Scorpio,5,17.866400,29.404762,16.936953,18.558045
104,Sagittarius-Sagittarius,Sagittarius,Sagittarius,20,15.438673,18.202643,15.820207,16.435428
105,Sagittarius-Capricorn,Sagittarius,Capricorn,18,10.422294,10.296578,10.408542,11.053385
106,Sagittarius-Aquarius,Sagittarius,Aquarius,2,15.730337,3.571429,15.964912,13.638566
107,Sagittarius-Pisces,Sagittarius,Pisces,11,20.948009,16.729125,19.468851,20.547364
108,Capricorn-Aries,Capricorn,Aries,9,11.320004,12.299383,11.452696,11.582246
109,Capricorn-Taurus,Capricorn,Taurus,6,10.327781,7.638889,10.118386,9.545313
110,Capricorn-Gemini,Capricorn,Gemini,10,13.162354,15.852564,14.260074,15.153506
111,Capricorn-Cancer,Capricorn,Cancer,0,NaN,NaN,NaN,NaN
112,Capricorn-Leo,Capricorn,Leo,19,13.975891,14.027392,14.164030,13.857964
113,Capricorn-Virgo,Capricorn,Virgo,7,13.677730,11.327561,14.600735,13.807686
114,Capricorn-Libra,Capricorn,Libra,6,6.695861,3.935185,7.990505,7.281656
115,Capricorn-Scorpio,Capricorn,Scorpio,8,18.584337,11.911765,18.056471,19.369417
116,Capricorn-Sagittarius,Capricorn,Sagittarius,19,19.843950,19.300918,19.571969,19.378695
117,Capricorn-Capricorn,Capricorn,Capricorn,12,11.350038,10.704666,11.518326,11.556516
118,Capricorn-Aquarius,Capricorn,Aquarius,1,1.123596,0.000000,1.052632,1.308140
119,Capricorn-Pisces,Capricorn,Pisces,5,4.626763,6.491228,4.455590,5.946724
120,Aquarius-Aries,Aquarius,Aries,5,10.253365,6.773810,10.703961,11.515387
121,Aquarius-Taurus,Aquarius,Taurus,7,26.572946,24.920635,26.013860,26.430590
122,Aquarius-Gemini,Aquarius,Gemini,13,17.070969,11.426322,15.161810,15.711566
123,Aquarius-Cancer,Aquarius,Cancer,0,NaN,NaN,NaN,NaN
124,Aquarius-Leo,Aquarius,Leo,12,13.143970,20.245400,13.255014,12.362411
125,Aquarius-Virgo,Aquarius,Virgo,4,12.837234,8.589744,12.238634,12.833539
126,Aquarius-Libra,Aquarius,Libra,7,18.742518,19.955016,18.997928,18.330769
127,Aquarius-Scorpio,Aquarius,Scorpio,2,13.967136,15.555556,15.353138,17.488131
128,Aquarius-Sagittarius,Aquarius,Sagittarius,7,9.260485,10.956044,9.403376,10.886038
129,Aquarius-Capricorn,Aquarius,Capricorn,7,7.685513,8.596166,8.398121,7.160703
130,Aquarius-Aquarius,Aquarius,Aquarius,1,1.287554,0.000000,2.702703,1.874414
131,Aquarius-Pisces,Aquarius,Pisces,10,10.774593,10.104618,11.126938,11.347232
132,Pisces-Aries,Pisces,Aries,9,18.509134,20.478395,17.803329,19.444687
133,Pisces-Taurus,Pisces,Taurus,1,30.769231,33.333333,31.318681,32.319392
134,Pisces-Gemini,Pisces,Gemini,11,16.072330,29.743729,17.701482,19.951785
135,Pisces-Cancer,Pisces,Cancer,0,NaN,NaN,NaN,NaN
136,Pisces-Leo,Pisces,Leo,28,11.486766,8.438638,11.191149,10.894901
137,Pisces-Virgo,Pisces,Virgo,10,20.682387,23.537951,20.161530,21.560962
138,Pisces-Libra,Pisces,Libra,9,20.645818,23.103592,21.043265,21.982658
139,Pisces-Scorpio,Pisces,Scorpio,12,13.469707,18.040966,13.279150,13.043402
140,Pisces-Sagittarius,Pisces,Sagittarius,8,16.292765,9.573864,15.801271,15.823518
141,Pisces-Capricorn,Pisces,Capricorn,11,24.370263,16.557314,23.303172,24.243557
142,Pisces-Aquarius,Pisces,Aquarius,3,26.191533,36.120401,24.583483,23.625251
143,Pisces-Pisces,Pisces,Pisces,6,27.352680,34.907619,26.886833,27.735801

In [545]:
pd.set_option("display.max_rows", 145)
zodiac_final[zodiac_final.isnull().any(axis=1)]

,zodiac_combo,wr_sign,qb_sign,instances_number,rec_share_mean,td_share_mean,tgt_share_mean,yds_share_mean
22,Taurus-Aquarius,Taurus,Aquarius,0,NaN,NaN,NaN,NaN
39,Cancer-Cancer,Cancer,Cancer,0,NaN,NaN,NaN,NaN
41,Cancer-Virgo,Cancer,Virgo,0,NaN,NaN,NaN,NaN
51,Leo-Cancer,Leo,Cancer,0,NaN,NaN,NaN,NaN
75,Libra-Cancer,Libra,Cancer,0,NaN,NaN,NaN,NaN
111,Capricorn-Cancer,Capricorn,Cancer,0,NaN,NaN,NaN,NaN
123,Aquarius-Cancer,Aquarius,Cancer,0,NaN,NaN,NaN,NaN
135,Pisces-Cancer,Pisces,Cancer,0,NaN,NaN,NaN,NaN